[2015-02-15 01:51] travs opened #2 "Make ChannelWorm Gitter channel"
Hi Vahid! :)

Just putting an issue here in case we want to make a channel soon. I don't think I can do it since it is your own repo.

Looking forward to working with you on this!

[2015-02-15 16:04] VahidGh commented on #2
Hi Travis, and thank you again :)
I created a temporary room, but it would be better if we create the main one when this repo became a sub-project of the OpenWorm project (as I finish my sum-up documentation, maybe! )

[2015-02-17 16:05] VahidGh opened #4 "Make ChannelWorm introduction document"
Use [readthedocs](http://docs.readthedocs.org/en/latest/getting_started.html) and Sphinx to make a document for a description of the project, tasks, refs, etc.

[2015-02-17 17:06] travs opened #5 "Include branch of PyOpenWorm as submodule"
The idea here is to create a branch of PyOpenWorm that has a data model for `ion channel` and other data that would be convenient for ChannelWorm's purposes (ex: `SI unit`).

The changes made to the PyOpenWorm `ChannelWorm` branch should be forward-compatible with PyOpenWorm. In other words, they should be merged into the `master` branch of PyOpenWorm further down the road, and any additions shoul

[2015-02-17 18:07] VahidGh commented on #5
Good idea @travs :+1:

[2015-02-17 18:19] #5 closed

[2015-02-17 19:49] VahidGh opened #7 "Add ion channel object and related data to the PyOpenWorm"
@travs, Here is my proposed scheme:
* Every cell has 0-n ion channel with these properties:
  * membrane capacitance
  * cell surface area
  * internal ion concentration
* Every ion channel has 0-n model with these properties:
  * references
  * contributors identity
  * experiment's condition properties, like temperature, age of the organism, etc
  * channel properties: rev potential, ion type, l

[2015-02-17 20:23] VahidGh opened #8 "Collect data for voltage-dependent ion channels"
Collect data for these voltage-gated/calcium-activated ion channels with priority of expression in muscle cells and motor neurons:
- Voltage-gated calcium channels (VGCC): EGL-19 (Cav1: L-type), UNC-2 (Cav2: R, N, P/Q-Type), and CCA-1 (Cav3: T-Type)
- Voltage-gated potassium channels: SHK-1 (Shaker, Kv1), EXP-2 (Shab, Kv2), EGL-36 (Shaw, Kv3) and SHL-1 (Shal, Kv4)
- Calcium-activated Slo-like pota

[2015-02-17 22:41] travs commented on #7
Excellent stuff Vahid!

PyOW has support for attaching `Evidence` objects to db objects in RDF so we can incorporate that for references and contributor indentities.

All of the other data you mentioned makes sense to me, and we can wrap WormBase API calls within PyOpenWorm to get up-to-date information from WormBase, as you say

When you say:

- membrane capacitance
- cell surface area
- internal

[2015-02-18 08:20] VahidGh commented on #7
@travs, Great!
As for the cell properties issue, we need these properties for modeling purposes, but they are not specific to the channel and could be different from cell to cell.
For example, we may have egl-19 in both muscle cell and motor neurons, but these properties could be different for these cell types.
Actually, I was thinking about two different approaches of the modeling, one based on t

[2015-02-18 17:18] travs commented on #7
Ok, that makes sense.
I have a quick scheme drawn up here, with some of the main points we've been discussing. It's rough, but if you agree on the structure I can get started modelling it in PyOpenWorm.

Eventually, the goal will be to get each `ChannelModel` as a NeuroML2 object.
![](https://cloud.githubusercontent.com/assets/7369273/6252388/89d39ab4-b774-11e4-8fda-bf63f6d7ef93.jpg)

[2015-02-18 18:59] VahidGh commented on #7
That's cool. Also we need to add channel kinetic properties (activation/inactivation parameters, etc) in order to generate a NeuroML2 object as you said.
Additionally, we can convert the spreadsheet to sql, and keep it as genetic properties of ion channels. we have lots of useful data in this file that could be used in our scripts and for representation purposes.

[2015-02-18 20:55] VahidGh opened #9 "Storage method of biological information for ion channels"
The initial source of data for biological properties of ion channels is [this spreadsheet](https://docs.google.com/spreadsheet/ccc?key=0Avt3mQaA-HaMdEd6S0dfVnE4blhaY2ZIWDBvZFNjT0E&usp=drive_web#gid=) which is obtained from WormBase.
In order to better structure and represent these biological data via ChannelWorm, we need to store (at least important ones) in a DB (preferably PyOW). but there is th

[2015-02-18 21:06] VahidGh opened #10 "Find a method of alerting new publications about ion channels of interest"
In order to being aware of new publications about patch clamp experiments, new biological studies related to ion channels in C. elegans, etc in an automatic way, we need a procedure (something like a [RSS feed](http://www.ncbi.nlm.nih.gov/pubmed?cmd=Search&term=%28%28channel%5BTitle%5D%29+AND+%28elegans%5BTitle%5D+OR+nematod%5BTitle%5D%29%29) reader with text mining abilities!). then we can augmen

[2015-02-24 20:23] VahidGh commented on #4
TODO:
add an introduction to ion channel modeling to the [introduction page](http://channelworm.readthedocs.org/en/latest/intro.html).

[2015-02-28 23:53] travs opened #11 "ChannelModel data model"
There may be multiple ion channel **models** for a single ion channel, from different sources.

As per mine and Vahid's discussions, this should include:

- [x] type (patch clamp, or homology estimate)
- [x] a reference to an experiment object, with information about the patch clamp experiment this data comes from
- [x] conductance (Quantity)
- [ ] activation parameters

EDIT:
I'm going to open th

[2015-03-02 03:29] travs opened #12 "Automatically grab latest version of PyOpenworm channelworm branch"
Right now I have to manually commit the new version of the PyOepnWorm submodule. It would be nice to have this happen whenever PyOpenWorm is updated, but this is low priority right now.

[2015-03-02 18:32] VahidGh opened #13 "Augment models with metadata"
Add metadata to the PyOpenWorm channelworm API and NeuroML files:
* For annotation, it is possible to add RDF based annotations to NeuroML files. [ex 1](https://github.com/NeuroML/NeuroML2/blob/master/examples/NML2_FullCell.nml), [ex 2](https://github.com/OpenSourceBrain/GranuleCell/blob/master/neuroConstruct/generatedNeuroML2/Gran_CaHVA_98.channel.nml), [ref](http://co.mbine.org/standards/qualifi

[2015-03-02 19:39] VahidGh opened #14 "Model validation"
For model validation, based on discussions from [here](https://gitter.im/openworm/muscle_model?at=54edde417928f3d27eabd0cc):

Also, it is possible to implement unit tests using [sciunit](https://github.com/scidash/sciunit) + [neuronunit](https://github.com/rgerkin/neuronunit)

[2015-03-08 19:33] VahidGh opened #15 "Design a software platform and put needed entities together"
Create a software platform diagram and put together entities of the project.

[2015-03-08 19:37] miladjafary commented on #15
I am going to work on this.

[2015-03-08 19:39] VahidGh commented on #15
@miladjafary, great! welcome to the ChannelWorm.

[2015-03-09 12:06] VahidGh opened #16 "Build a pipeline for modeling ion channels with patch-clamp data available"
Develop a toolkit for digitization, fitting and optimization of HH models from patch-clamp experiments:
- [x] Look for a patch clamp study, extract data, and digitize needed figures as a case study (using [WebPlotDigitizer](http://arohatgi.info/WebPlotDigitizer/app/) + [Plotly](https://plot.ly))
- [ ] Fit parameters, and simulate the experiment using some GA and ODE algorithm (use/customize [Neuro

[2015-03-09 12:39] VahidGh commented on #16
[This issue](https://github.com/openworm/muscle_model/issues/31) and [This study](https://github.com/openworm/OpenWorm/issues/31#issuecomment-69594374) could be a good starting point.

[2015-03-09 12:44] VahidGh commented on #16
[this issue](https://github.com/openworm/muscle_model/issues/18) could be a good case study for the optimization process.

[2015-03-09 13:04] miladjafary commented on #15
@VahidGh please list exist related LIB for this project(Such as plot.ly and some thing like this) which we should connect them to gather for building back end.

[2015-03-09 13:45] #2 closed

[2015-03-10 09:38] VahidGh commented on #15
@miladjafary, You can find different modules and resources possibly could be used, in related issues. I've categorized them under [these milestones](https://github.com/VahidGh/ChannelWorm/milestones).
Also, I've defined our objectives (which could be considered as our modules) and use cases (see [this doc](http://channelworm.readthedocs.org)).
If you could propose your design pattern for such a so

[2015-03-10 11:29] miladjafary commented on #15
@VahidGh As I remember , you list some related tools such as plot.ly
For accelerating do this task I want to know related exist API for our propose. So help me more in this subject if it possible
Thank You!

[2015-03-10 18:09] VahidGh opened #17 "Digitize plots from patch-clamp studies"
The scenario is that a user, would need to upload a plot from a patch-clamp study, and extract digitized data for further analysis. (See [this issue](https://github.com/openworm/muscle_model/issues/20#issuecomment-72691023), and [this one](https://github.com/openworm/muscle_model/issues/30#issuecomment-72689142) for more information)

The digitization process could be implemented via the [WebPlotD

[2015-03-10 18:14] VahidGh commented on #15
@miladjafary, regarding the digitization and plotting process, you can find needed info in #17.
I think this issue could be a good one as a starting point for programming with Python.

[2015-03-11 16:57] travs opened #18 "Cell data model"
Quoting @VahidGh

We have had some discussion about this in #7, but it would be good to define this problem more clearly here.

There exists a [Cell data model in PyOpenWorm already](http://pyopenworm.readthedocs.org/en/alpha0.5/api.html#cell-name-string), though it does not include any of the parameters Vahid listed above.

To summarize the discussion as I understand it:
1. Since they are importa

[2015-03-11 17:10] travs opened #19 "Ion Channel data model"
This data model would encompass things which are not specific to a single model of an ion channel, but are relevant to the ion channel itself.

As per #7, this should include things like:

- [x] Ion channel's subfamily name
- [ ] Genetic properties (mutants, genome, etc.)
- [ ] Channelopathies

As with #11, don't hesitate to suggest additions to this data model, as it will surely be added to/chang

[2015-03-11 18:10] VahidGh commented on #18
I think what we need would be part of the [cell morphology data model](http://pyopenworm.readthedocs.org/en/alpha0.5/api.html#morphology-neuroml-morphology). If it is possible to include such data under this data model, that would be great (although internal ion concentration could be in other data model, such as cell's metabolites).
I don't know if we have morphological data for each cell right n

[2015-03-11 18:13] VahidGh commented on #18
[This study](http://www.sciencedirect.com/science/article/pii/S0092867412007763) could be a good reference for such a model.

[2015-03-12 07:29] miladjafary commented on #15
@VahidGh  Great!
It's good for me also it could be help me in system design.

[2015-03-12 07:30] miladjafary commented on #17
@VahidGh Interesting.
I am going to work on it.

[2015-03-12 07:33] miladjafary commented on #16
@VahidGh  I can't understand your mean about Pipeline.
You mean the output of a module would be the input of another module?

[2015-03-12 12:42] VahidGh commented on #16
My comment was regarding to tasks, should be done for implementing this module.
But from the designer (use case) point of view, the pipeline which end user would see is:
1. user uploads either plots (including V-t, I-t, I-V, G-V, and activation/inactivation kinetics) or raw data from patch-clamp experiment
1.2. If plots were uploaded, then he/she would digitize it via implemented digitizer, an get

[2015-03-15 23:56] travs opened #20 "Decide on generic API for model layer"
In gitter chat @miladjafary raised the issue of having just one abstract layer to communicate with the other layers of this project, which means that our data layer will need to have some kind of API to allow access to it.

Milad, can you give some suggestions of what we need in this data API?

It will have to communicate with PyOpenWorm, certainly.

I am not sure what you mean, Milad, when you sa

[2015-03-16 11:44] joebowen commented on #16
Do we have an existing Django project that we want to add these features too?  Or are we looking at starting up a new one and how do we want to go about that?

Also, how are we doing this manually in it's current state?  Do we have a list of example commands that are currently used to do this?

[2015-03-16 12:24] VahidGh commented on #16
@joebowen, as discussed @miladjafary has started to work on the platform and design, and I'm working more on the scientific part of the modeling (both from patch-clamp studies and estimation).
Still there is no chosen framework, but I think Django would be interesting.
For now, we can start with the digitization process (see the first comment, and also #17), get numbers as a .csv file, and pass to

[2015-03-16 12:28] joebowen commented on #16
Django would be nice, it would allow us to easily integrate the existing scripts and commands into the web project side.  Where are we thinking of hosting the Django project?

@miladjafary, What do you have started for the platform and design?

[2015-03-16 13:35] VahidGh commented on #16
I have no plan for the hosting. we can start locally (or some open hosting such as [openshift](https://www.openshift.com/web-hosting/python)) for now, and after the first release, we can discuss more with Stephen and ask for his help (maybe running this under the OpenWorm.org domain and other options for hosting!)

[2015-03-16 13:43] joebowen commented on #16
Openshift looks like a good idea to start development in.  I can work on
setting up a django project on there.

[2015-03-17 02:15] joebowen commented on #16
URL: http://channelwormdjango-channelworm.rhcloud.com/
Git Clone URL: ssh://550783004382ec36e60000dd@channelwormdjango-channelworm.rhcloud.com/~/git/channelwormdjango.git/

for the git clone, I have to add your ssh key to the settings to allow you access. Instructions are on the main url.  Just send me the ssh key and I'll add you.

[2015-03-17 09:29] VahidGh commented on #16
@joebowen, great. So we can start some front end issues such as #17.

[2015-03-17 11:36] joebowen commented on #17
It looks like [WebPlotDigitizer](https://github.com/ankitrohatgi/WebPlotDigitizer) is run through client side javascript when it seems like we're more looking for something back-end so we can script with it and then use the plot for other back end functions.

[2015-03-17 12:37] VahidGh commented on #17
In the first step of the pipeline, we need to get digitized patch-clamp data, if user already has the data, he/she just needs to upload the file, if not, he/she can digitize it via this digitizer, and the final .csv file generated by the digitizer, could be sent to the back end (in the same way as the first method), for further analysis.

[2015-03-17 12:49] joebowen commented on #17
Ok, I'll work on the upload section for the csv file tonight.  On the
backend, do we have the series of steps/scripts to run?

On Tue, Mar 17, 2015 at 6:37 AM, Vahid Ghayoomi <notifications@github.com>
wrote:

[2015-03-17 16:30] VahidGh commented on #17
Great, in addition to .csv file(s), we need to get these parameters of
the patch-clamp study: duration, delay, voltage steps and their
corresponding units (e.g. from -80 mv to 50 mv, in 10 mv increments,
running in 1000 ms)
As for the back-end, not yet, but I hope to get the fitting script finished
in a week or two.

On Tue, Mar 17, 2015 at 4:19 PM, Joe Bowen <notifications@github.com> wrote:

[2015-04-05 09:56] miladjafary commented on #15
@VahidGh  @travs
I research in different  architecture and design pattern and I think that the suitable architecture for back end of our project is Micro service. Because we have different API and module which could be in different language. For example in #17 the digitization process of patch-clamp studies could be implemented via the WebPlotDigitizer and drawing chart of result could be implemen

[2015-04-05 12:05] joebowen commented on #15
We started a Django project at OpenShift.com here;
http://channelwormdjango-channelworm.rhcloud.com/  I can get you the needed
access information if you want to work with it or we can try something
different.

On Sun, Apr 5, 2015 at 3:56 AM, Milad Jafary <notifications@github.com>
wrote:

[2015-04-05 16:28] miladjafary commented on #15
@joebowen  Please send me the access information if it possible

[2015-04-05 16:33] joebowen commented on #15
@miladjafary I just need your ssh public key (https://developers.openshift.com/en/managing-remote-connection.html) and if you create an OpenShift account and give me the account username, I can give you access there as well.  Just send those to me though another channel and I create the permissions for you.

[2015-05-01 13:27] travs opened #21 "Get a Django web app online"

[2015-05-01 13:27] travs opened #22 "Get a Django web app online"
This may already be fulfilled by [this link](http://channelwormdjango-channelworm.rhcloud.com/), but it won't load for me :(

[2015-05-01 13:44] #21 closed

[2015-05-01 13:57] slarson commented on #16
@joebowen Is there a repo you have for the channelworm cloud app? :)

[2015-05-01 14:04] joebowen commented on #16
Yes, but it's on OpenShift.  I can get the information for it this evening.

[2015-05-01 14:09] slarson commented on #16
@joebowen thanks!

[2015-05-01 14:09] travs opened #24 "Decide on front end/user interface"
Some brainstorming questions I have are:
1. What will the page look like?
2. How will the data be displayed?
3. Will the user be able to interact with the data? How so?

Let me know what you guys are thinking about each of these, and if there are any other questions you have about the front-end.

[2015-05-01 14:13] joebowen commented on #16
One issue is that to get access to the code, people have to send me their
OpenShift username and ssh public key, so I can add the permissions to the
account.  There might be a better way to manage that.

[2015-05-01 14:15] slarson commented on #16
Perhaps to put the code on GitHub?

[2015-05-01 14:18] joebowen commented on #16
I tried but then it doesn't update to the cloud server.  We could keep two
copies but then we risk divergent releases.

[2015-05-01 14:28] joebowen commented on #16
If someone can figure out a better release process, it would probably help
quite a bit.

[2015-05-01 14:30] travs commented on #16
Maybe we can use git hooks to sync the github and cloud versions?

[2015-05-01 14:31] joebowen commented on #16
Possible.  The storage on the cloud server is git based.

[2015-05-01 14:44] VahidGh opened #25 "Estimate parameters for modeling ion channels with no patch clamp data available"
Using some machine learning algorithms we should estimate parameters such as Conductance, reverse potential, and the rate of activation/inactivation in order to build HH models for ion channels with no patch clamp data available.
The steps would be as follow:
- [ ] Find data-sets and decide on the input types
- [ ] Decide on the structural properties of ion channels could be used for the feature s

[2015-05-01 14:48] #4 closed

[2015-05-01 16:51] travs opened #26 "Mirror OpenShift git repo on Github"
Mentioned [here](https://github.com/VahidGh/ChannelWorm/issues/16) but deserves its own issue.

The idea is to link the two repos together so that changes in one are reflected in the other.

[2015-05-02 13:14] joebowen commented on #26
I found this and thought it might help.

http://www.redmine.org/projects/redmine/wiki/HowTo_keep_in_sync_your_git_repository_for_redmine

[2015-05-02 14:24] joebowen commented on #26
I've started the process [here](https://github.com/joebowen/ChannelWormDjango).  It doesn't fully work, but it's a start.  It might help if I can find the cron logs on the server.

[2015-05-02 23:41] joebowen commented on #26
The OpenShift server now updates from [here](https://github.com/joebowen/ChannelWormDjango) every minute through a cronjob.

[2015-05-02 23:41] #26 closed

[2015-05-02 23:43] joebowen commented on #26
(OpenShift server url) [http://channelwormdjango-channelworm.rhcloud.com/]

[2015-05-03 04:25] miladjafary commented on #16
Hi.

I think we can develop code in the git and use GitHub as a source code controller and use open shift as deployment environment.
Every time that a new version of code exist we can deploy it on the open shift.

[2015-05-03 21:52] #22 closed

[2015-05-03 22:02] travs commented on #22
@joebowen got something online. Tracking changes to the web app in [this repo](https://github.com/joebowen/ChannelWormDjango)

[2015-05-07 14:49] travs opened #27 "Develop validation test template"
The template will be used to make it easier for contributors to create tests.

Implementation will be similar to the drawing below:

![svovl47fu27mfnaddbdysng](https://cloud.githubusercontent.com/assets/7369273/7517933/7d752578-f4b2-11e4-8f0c-3335031a85e6.png)

These are the steps building the template will require (may be modified as we move forward):
- [x] Set up unit testing framework (SciUnit

[2015-05-07 15:19] travs opened #28 "Make digitized and simulated I/V data comparable"
### Problem

In order to be able to write [validation tests](#27) that use patch clamp data, we need to be able to compare our **simulated** data with the **observed** data. I have a short description of the two data types below.

#### Simulated
We can use [jNeuroML](https://github.com/NeuroML/jNeuroML) to generate `.dat` files from our own LEMS simulation files (`.xml`).
* [Example (this python s

[2015-05-08 18:51] pgleeson commented on #28
FYI I've been moving the functionality above to [pyNeuroML](https://github.com/NeuroML/pyNeuroML). See the examples in: https://github.com/NeuroML/pyNeuroML/tree/master/examples

These files are more stable than those in https://github.com/openworm/BlueBrainProjectShowcase, and hopefully pyNeuroML is easier to install...

[2015-05-08 19:28] VahidGh commented on #28
@pgleeson, That's great, thanks.
It seems [generating I/F curves](https://github.com/NeuroML/pyNeuroML/blob/master/examples/generate_if_curve.py) is now supported by pyNeuroML, but for generating for example an I/V curve using pyNeuroML+jNeuroML, I guess we should follow something like [this example](https://github.com/NeuroML/pyNeuroML/blob/master/examples/run_jneuroml_plot_matplotlib.py), right?

[2015-05-10 13:21] pgleeson commented on #28
@VahidGh, the functionality for generating the current (and activation variable) traces for ion channel can be accessed from command line after installing pyneuroml using: pynml-channelanalysis.

This will generate a LEMS file as before and the output of that can be plotted, or post processed to produce a plot of (max) current through the synapse vs applied membrane potential.

It might be good to

[2015-05-10 15:38] VahidGh commented on #28
@pgleeson, please take a look at [this commit](https://github.com/openworm/muscle_model/commit/645991d830654a226975b02590533f59f31e339f).
I also updated Readme and Travis CI files.
One thing was running plots using pynml, it seems working much slower than jnml!

[2015-05-10 17:11] VahidGh commented on #28
@pgleeson, there was some building errors from Travis CI when running pynml-channelanalysis.
[This issue](https://github.com/NeuroML/pyNeuroML/issues/3), might help solving these errors.

[2015-05-11 17:13] travs opened #29 "Decide what Capabilities our Model(s) will have"
### Background

SciUnit uses Capabilities to interface between Models and Tests.

In [this example](https://github.com/scidash/sciunit/blob/master/sciunit/capabilities.py), the Capability [`ProducesNumber`](https://github.com/scidash/sciunit/blob/master/sciunit/capabilities.py#L7-L11) describes the method(s) that Models like [`UniqueRandomNumberModel`](https://github.com/scidash/sciunit/blob/maste

[2015-05-11 17:35] slarson commented on #8
We need to set up a dropbox folder with PDFs for these channels and have a google sheet that links to each one.  PDFs need to definitely have I/V curves for digitizing purposes.

[2015-05-11 18:37] travs opened #30 "Update documentation"
- [x] Walkthrough (mostly stubs for now) for digitization process described in [this diagram](https://docs.google.com/drawings/d/1MDAJkv1wXJTmr5ux0EDvlz5xkUz13ez3YIJ6fmSMpms/edit)
- [x] Text description of [digitization diagram](https://docs.google.com/drawings/d/1MDAJkv1wXJTmr5ux0EDvlz5xkUz13ez3YIJ6fmSMpms/edit)
- [x] Walkthrough for the [validation and optimization stages](https://docs.google.co

[2015-05-11 18:43] travs opened #31 "Convert docs from rst to md"

[2015-05-11 19:23] travs opened #32 "Decide what Tests are required"
How will we decide if our model is close enough to reality?

We will be using the [SciUnit](https://github.com/scidash/sciunit) framework to write our Tests.

#### SciUnit background knowledge

`Tests` in SciUnit must override `generate_prediction` and `compute_score`, as in this [simple example](https://github.com/scidash/sciunit/blob/master/sciunit/tests/example.py#L5-L15).

A Test is instantiat

[2015-05-11 20:14] travs opened #33 "Insert created methods in a SciUnit file"
@gsarma and I will create methods for the Tests and Capabilities of our Model.

@rgerkin agreed to help put these in a form SciUnit can understand.

[2015-05-15 11:19] VahidGh commented on #8
I set up [this folder](https://drive.google.com/folderview?id=0B4qffTA1q81rfmhoZzBva2xKRTJIVTlhR2plYTF2S2JCNXBLODJWN09KUHU4X09FN0hEQlE&usp=sharing) with related references. Some of them do not have I/V curves, but would be useful for citing purposes.

[2015-05-17 21:48] #31 closed

[2015-05-18 09:39] VahidGh commented on #28
@pgleeson, thank you for [these](https://github.com/openworm/CElegansNeuroML/tree/master/CElegans/pythonScripts/c302/tune) helpful scripts :)

[2015-05-18 17:24] travs opened #35 "Install PyOpenWorm as a library rather than include it as a submodule"
This can be done with
[code]

[2015-05-18 18:18] miladjafary commented on #35
Great.
SO PyOpenWorm install as lib and we use it in project as a third party lib?
You'r implementation for channel worm is included in PyOpenWorm which is install as a lib ?

[2015-05-18 21:52] travs commented on #35
@miladjafary

Yes, the data management/modelling will be done using PyOpenWorm as an external library.

The version of PyOpenWorm we will use is on the "channelworm" branch right now, but this may change to the master branch depending on what happens in PyOpenWorm.

[2015-05-19 16:15] #30 closed

[2015-05-21 11:07] travs commented on #29
As a start, the first Capability can be `Generates_IV_curve`. This can be taken to mean the Model will actually produce a set of data that can be plotted as a current-voltage relationship when run with [iv_analyse.py](https://github.com/openworm/BlueBrainProjectShowcase/blob/master/Channelpedia/iv_analyse.py).

@rgerkin
Do you think this is this a sensible Capability? And how could we turn this in

[2015-05-21 13:19] travs opened #36 "Integrate SciUnit and Nosetest frameworks"
### Currently
The [current test example](https://github.com/VahidGh/ChannelWorm/blob/tests/tests/hello_model_test.py#L82) uses an `assert` statement (Python standard library) in order to run on Travis CI with NoseTest.

This can [be improved](https://github.com/VahidGh/ChannelWorm/commit/5b5178641d52ace4a37c9aa3144ceb98edb72c94#commitcomment-11295991), but ultimately the `assert` is wrapped around

[2015-05-21 14:27] travs commented on #36
Update:

This is the integration I had in mind. Let me know what you think and we can edit the drawing.

![](https://docs.google.com/drawings/d/1ieXXSqeWZd23RBX76yU0sDwEW03s4yeslC7XOYLXKpQ/pub?w=1394&h=687)

[2015-05-21 17:04] VahidGh commented on #24
Milad and I decided on Django+Bootstrap, with some widgets that user can digitize figures and provide additional data for the fitting process.

[2015-05-21 17:06] slarson opened #37 "Upload code for current web app into a directory under this repo"

[2015-05-21 17:07] joebowen commented on #24
We've got most of that here: https://github.com/joebowen/ChannelWormDjango

I think it's just missing Bootstrap.

[2015-05-21 17:09] slarson opened #38 "Deploy current version of the Django+Bootstrap app"
According to @miladjafary : "it's sunds that @joebowen found a way that we can put code in Repo and deployed automatic in OpenShift"

[2015-05-21 17:11] joebowen commented on #38
This is true.  I can finish configuring the github.com project when I have
more details.

[2015-05-21 17:21] slarson opened #39 "Expand list of figures to include 7 I/V curves and 7 I/t plots"
We [have a spreadsheet](https://docs.google.com/spreadsheets/d/1jTXDHsLsdK-T_d-RwCb4gmQgMhjumvZE7C_2PEXFYAk/edit#gid=0) that we need to populate with figures that need to be digitized.  There is a folder of [ion channel papers](https://drive.google.com/folderview?id=0B4qffTA1q81rfmhoZzBva2xKRTJIVTlhR2plYTF2S2JCNXBLODJWN09KUHU4X09FN0hEQlE&usp=sharing).  We should go paper by paper and add figures i

[2015-05-21 17:26] slarson commented on #39
@travs @VahidGh let's get a session scheduled to do this in the next week or so.

[2015-05-21 18:31] VahidGh commented on #24
@joebowen, yes, sorry. Actually the decision on choosing the django+Openshift was made before this by you and me :)
Also we had some changes to the basic structure, to include some Ui features along with other back-end processes like fitting, validation, etc. Thank you for this repo and the syncing script.
Still we have lots of works to do for this app, and any kind of help would be appreciated.

[2015-05-21 18:46] rgerkin opened #40 "Using standards for current and voltage waveforms, and analysis"
Are we going to use standards like [NEO](https://github.com/NeuralEnsemble/python-neo) to represent and process our waveforms, or just use arrays or tuple of arrays to represent them?

Are we going to use emerging standards like [ElePhanT](https://github.com/NeuralEnsemble/elephant) to do the actual calculations (e.g. compute the mean of or counts spikes in a segment of membrane potential), or rol

[2015-05-21 18:46] rgerkin commented on #29
So `Generates_IV_Curve` would probably inherit a few other things like `Receives_Current` and `Produces_Membrane_Potential`, since those would be required for an IV curve to make any sense.

Then the `Generates_IV_Curve` methods would probably just be the one method `generate_iv_curve`, although maybe there are others, and the arguments to it would be a list or array of currents, and step duration

[2015-05-21 19:58] slarson commented on #29
@travs I think we need to start by stubbing out `Receives_Current` and `Produces_Membrane_Potential` with the arguments @rgerkin suggests, without implementation, and then fit the process of generating IV curves that exists in @rayner 's work into those as a second step.  I'll comment further on #40 but it looks like using [neo.analogsignal](https://pythonhosted.org/neo/core.html#data-objects) may

[2015-05-21 19:59] slarson commented on #40
As for ElePhanT -- I see this working with spike train type data which is great but fundamentally we need to work with analog signals, not spike trains.

NEO does seem to have an [analog signals data structure](https://pythonhosted.org/neo/core.html#data-objects).  We should try to reuse this.

[2015-05-21 20:55] rgerkin commented on #29
You can look at [NeuronUnit capabilities](https://github.com/rgerkin/neuronunit/blob/master/capabilities/__init__.py) for a start, and try to match it when you can, but I'm not sure yet if the totality of ChannelWorm-related capabilities will be much larger than what I intend to have in NeuronUnit or not.  If it isn't, you can just add them in NeuronUnit and import, but if it is you'll have your o

[2015-05-21 20:58] rgerkin commented on #40
ElePhanT has a lot of spike train stuff but is intended to be useful for analog data as well.  It is also NEO based, so the methods will work on NEO objects.  For example, you take an analog signal and filter it in some way, or count threshold crossings, or compute a resistance and capacitance from a voltage step, etc.

[2015-05-21 23:02] joebowen commented on #24
@VahidGh, I'd love to help, just let me know what needs to be done before other people can start contributing.  I'm assuming that we should move the repo over the OpenWorm project.  I'll just have to modify the OpenShift setup to work with the different repo.

[2015-05-22 02:49] travs opened #41 "Create Generates_IV_Curve Capability"
This was discussed in #29, and will serve as an example for the rest of the tests to follow.

@gsarma and I will discuss this in our next meeting (Saturday).

[2015-05-22 08:39] pgleeson commented on #40
Currently, [neurotune](https://github.com/pgleeson/neurotune) uses a package, [pyelectro](https://github.com/pgleeson/pyelectro) developed by @vellamike for these types of analyses (I've forked these for working with NeuroML/c302). See https://github.com/pgleeson/pyelectro/blob/master/pyelectro/analysis.py#L368 for example.

A lot of these methods could be (as was @vellamike's intention) replaced

[2015-05-22 15:31] VahidGh commented on #40
@rgerkin, Thank you for these helpful information.
@pgleeson, Ok, going to dig into these codes. Thanks for discussions and helpful guides you also provided the other day.

[2015-05-23 06:53] VahidGh commented on #40
@rgerkin, I couldn't find any [implemented function](http://elephant.readthedocs.org/en/latest/modules.html) for voltage-/current- clamp analysis in the Elephant package.
Do you know any other known package (especially for voltage-clamp analysis) in Python?

[2015-05-23 19:41] travs commented on #41
[Pair programmed with @gsarma](0083ceb94d2da60d415540aedf180aea3fc6468c), and stubbed out the Capability.

Methods are not implemented; need to be overridden in Models.

[2015-05-23 19:41] #41 closed

[2015-05-25 18:42] #29 closed

[2015-05-25 20:28] travs opened #42 "Where should we implement SciUnit Capabilities?"
After discussions with @gsarma, it became apparent that there are currently two "representations" of the model, one to do with the database (PyOpenWorm), the other written NeuroML2.

When implementing a Capability like [`Generates_IV_Curve`](https://github.com/VahidGh/ChannelWorm/issues/41), where should the implemented methods go?

It would not be appropriate to implement the python methods in th

[2015-05-25 21:25] VahidGh commented on #42
@travs, My suggestion is, we can have a method to generate IV curves from NeuroML files within pyNeuroML (which is now implemented by @Rayner's code), then a generic capability from SciUnit which does a unit test on IV curves, uses this method. And finally our validation class in CW calls this capability for validation purposes (I've also considered a class for validation in my pipeline structure)

[2015-05-25 22:47] slarson commented on #42
There's two issues -- where is the "right" place to implement this, and
where is the "expedient" place to implement this.  I think the pyNeuroML
suggestion is reasonable for the "right" place, but there's a fair bit of
experimentation we may need to do to get the methods right, and it is
possible that the overhead of working with pyNeuroML makes it harder to do
this.

I'd suggest to start with the

[2015-05-26 02:08] gsarma commented on #42
There is also an intermediate solution, which is to simply store the names of the capabilities in the NML2 representation, but not the full Python code itself.  This gives us some degree of redundancy, and makes the writers of NML files aware of the fact that there are model validation steps further down the pipeline.  I tend to agree with @slarson on simply pursuing the expedient strategy for now

[2015-05-26 06:07] VahidGh commented on #42
@slarson, agreed.

[2015-05-29 04:06] travs opened #43 "Which parameters will be used for fitting?"
It looks like NeuroTune will be sufficient for our purposes of tuning the ion channel models towards their observed counterparts.

Since there may be multiple sorts of validation tests beyond IV curve comparison, we should talk about which parameters will be tuned on the ion channels.

Parameters that are intrinsic to the ion channel model itself are eluding me, since so much of their kinetics is

[2015-05-29 12:10] travs opened #44 "Develop method to insert plots into PyOpenWorm"
With the [Experiment data model](https://github.com/openworm/PyOpenWorm/blob/channelworm/PyOpenWorm/experiment.py) we are able to store conditions in the database.

This can be expanded to include inserting digitized plots, but methods need to be created in the existing class (linked above) to allow inserting and retrieving of columns of data.

[2015-05-29 12:21] travs opened #45 "Fit channel models into Muscle and Neuron (i.e. Cell) models"
Since the ion channels are more useful if we know which cells they are in, the data model must take into account the distribution of ion channels.

This could be done in two reciprocal ways. For some Ion Channel model `i` and Cell model `c`:

1. A method `i.appearsIn()` that returns a list of Cells
2. A method `c.ionChannels()` that returns a list of Ion Channels

[2015-05-29 16:30] VahidGh commented on #43
@travs, these are parameters I'm currently playing with:

'g', 'e_rev', 'v_half_a', 'v_half_i', 'k_a', 'k_i', 'T_a', 'T_i', 'a_power', 'i_power'

In addition to these parameters in case of modeling Calcium channels:
'ca_half_i','alpha_ca','k_ca','T_ca','cdi_power'

Some challenges are:
1) Whether to use g_dens instead of g and including C_mem in the parameters?
2) Is there a better way to guess a/

[2015-05-29 18:41] travs commented on #39
Discussion for this session is over on Gitter, [starting here](https://gitter.im/VahidGh/ChannelWorm?at=5568b1b2777c17d06a133f42)

[2015-05-30 10:07] VahidGh commented on #44
@travs, Good one.
@miladjafary, We can also use this data model or expand this for storing/retrieving data related to patch-clamp experiments.
Using this data model, we can also omit saving digitized data as csv files, right?
@miladjafary, what do you think? Is it OK to save data from the digitizer in DB instead of csv files?

[2015-05-30 18:45] miladjafary commented on #44
@VahidGh I agree with saving in DB but i think it's better save it in CSV format as a field value. what do you think ?

[2015-05-30 19:33] VahidGh commented on #44
I think it's a good idea to store all data in one place, storing in files reduces mobility.
We can consider this as a TODO, and working with csv files for now.

[2015-05-30 20:09] miladjafary commented on #44
You mean every row of csv files convert to a Record in DB? If yes, aging I suggest csv content save as a text field in DB. also i thought that we want save digitizing data in DB.

[2015-06-01 20:15] VahidGh opened #46 "Difficulties in digitization of figures with no usual axes"
Some figures like this:

![egl-19-vclamp](https://cloud.githubusercontent.com/assets/6655104/7922008/b338896e-08be-11e5-8c04-c9d39a5394c8.png)

Having unclear axes. There are three issues regarding this problem:
1) Webplotdigitizer has no capability to calibrate axes in this way (with both x and y)
2) It's not clear what is the range of values (e.g. current in this picture)
3) It's not clear what

[2015-06-01 20:40] VahidGh commented on #8
I've almost finished the first version of the fitter. Now I need some reliable data from digitized IClamp, VClamp, and I/V curves to start testing my code.
Any kind of help would be appreciated.

[2015-06-02 20:40] rgerkin commented on #40
@validgh Maybe [stimfit](https://github.com/neurodroid/stimfit), but I think that is more for single synaptic events.  I-V curves are so simple by comparison that there may be no formal package for dealing with them.

[2015-06-02 20:49] rgerkin commented on #36
In the longer run I think all the SciUnit tests you want to run should be expressed in an IPython/Jupyter notebook that loads, instantiates, and executes all tests.  One Nose unit test can be to run this notebook.  The only error that you would want to raise would be if the notebook does not successfully execute (i.e. the test produces an error).  This can be a totally uncaught error, or a returne

[2015-06-02 20:56] rgerkin commented on #42
Following the [NeuronUnit](http://github.com/scidash/neuronunit) model, I'd implement them there, or even in someother XUnit, e.g. WormUnit, ChannelUnit, or whatever you might want to call it.  If I do this, I'm likely to use PyNeuroML as part of the implementation since I have independent reasons for wanting to push development forward on that end.  Any call to e.g. receive_current() is implicitl

[2015-06-02 20:57] rgerkin commented on #42
Is it correct that no one has worked on the implementation yet?  I can probably get started on that.

[2015-06-02 21:08] slarson commented on #42
That's right, there's just the [stub implementation here](https://github.com/VahidGh/ChannelWorm/blob/8fc855a6dd6f919a1d004e722c42f0b5199668f3/tests/capabilities.py)

[2015-06-02 21:13] slarson commented on #46
These figures follow a convention in neuroscience that is admittedly opaque, but in fact the information you are looking from is contained within the diagram.

The key insight is that the lengths of the lines in the legend in the upper right are equivalent to the value marked next to them, and they are in scale with the diagram.

For example, the X-Axis starts at 0, and then if you take the distan

[2015-06-02 21:50] travs opened #47 "Implement existing SciUnit Capabilities"
[Over here](https://github.com/VahidGh/ChannelWorm/blob/8fc855a6dd6f919a1d004e722c42f0b5199668f3/tests/capabilities.py) we have some Capabilities enumerated as stubs, but not yet implemented.

@rgerkin

[2015-06-02 21:52] travs commented on #42
@rgerkin made an issue for it (#47)

Since we have decided where to implement them for now, I think it is safe to close this issue and track development in #47

[2015-06-02 21:52] #42 closed

[2015-06-02 22:31] VahidGh commented on #46
@slarson, Yep, I was doing the same thing by hand (and a ruler :) ) as there is no capability for this in Webplotdigitizer, but I think it is possible to add some feature to determine such axes.

@miladjafary , There is some similar capability for scaling maps in the WPD, but for one axis, maybe we can customize this one for both axes.

[2015-06-02 23:33] travs opened #48 "Implement prototypical acceptable range calucations in SciUnit Tests"
There are not yet any Tests to perform acceptable range calculations on, but the need will surely arise with the use of any kind of complex statistical test.

This is distinct from #36 in that the results are not binary passes/fails, but a warning system to tell us when a Model's results are suspicious and should be investigated.

cc: @rgerkin @slarson @gsarma

[2015-06-02 23:34] travs commented on #36
@rgerkin
I still think that TravisCI should run some tests on the models but, as you say, perhaps this is better left to basic sanity checks than to model evaluation per se. This sanity checking would still require `assert` statements to be seen by Nose, though.
Perhaps even producing an output/score could constitute as "sane" for TravisCI's purposes.

I have created #48 to reflect the distinction

[2015-06-03 02:37] rgerkin commented on #48
@travs Let's say it's a sciunit.ZScore, maybe you `assert abs(score.score)<5` or something that alerts you if it's too far away from the expected value (i.e. from the data), but the overall judgement of the quality of the model is going to have a different decision function in terms of how it views that score.

But I think for now you should just `assert score.__class__ is not sciunit.ErrorScore`

[2015-06-06 15:16] travs commented on #33
[This file](https://github.com/VahidGh/ChannelWorm/blob/7c9145544eeaf9126255e6ed7746c3156bc95bf6/tests/capabilities.py) closes this issue.

[2015-06-06 15:16] #33 closed

[2015-06-06 15:23] travs opened #49 "Create stub for IV Curve test"
I think we can start creating the tests that will compare simulated and actual IV curve data.

We can begin by making a skeleton for our tests that will be fleshed/implemented out later.

@gsarma @rgerkin

Related to #27

[2015-06-06 15:32] travs opened #50 "Create stub for I/V Curve-producing model"
We can begin creating a skeleton for an ion channel Model that will be used in SciUnit tests.

This will implement the Capabilities we have already enumerated (#41)

Needed for #27 to move forward (imports)

[2015-06-07 08:07] VahidGh opened #51 "Decide on preferred outputs of the final channel model"
Assuming we have successfully fitted, optimized and validated parameters for each ion channel model, what are the preferred outputs for each model to be stored and shown via the interface?

These are the options came to my mind:
* Keeping parameters along with related score of the fitting process or validation test in a DB and generating the NeuroML2 file via some API, by request.
* Depicting figu

[2015-06-07 08:47] VahidGh commented on #50
In [my implementations](https://github.com/VahidGh/ChannelWorm/blob/cwFitter/cwFitter/Evaluator.py#L63), I've considered the cost function for evaluating I/V cures, as sum of the squared distances between the sample and simulated points divided by the number of points and trying to minimize this.
I was thinking about storing a normalized version of this measurement and comparing with other models.

[2015-06-10 13:44] #50 closed

[2015-06-10 13:44] #49 closed

[2015-06-10 13:49] travs opened #52 "Decide on cost function/evaluation to apply when comparing I/V curves"
We need some metric that returns a single value indicating how well a particular modeled I/V curve fits the expected observed I/V curve.

@VahidGh mentions:

I was thinking about storing a normalized version of this measurement and comparing with other models.
How is this different from the approach is going to be taken by the SciUnit?

What statistics should we apply in order to get this value?

[2015-06-11 04:26] #17 closed

[2015-06-11 04:26] #37 closed

[2015-06-11 04:26] #24 closed

[2015-06-11 18:24] travs commented on #51
@VahidGh
I think all of those options have inherent values.
With respect to modularity, the first option seems most attractive. If CW was able to be used as a library or source of NML2 files we could easily embed them in muscle_model or c302.

[2015-06-11 18:26] travs commented on #38
@miladjafary
I can see the code to the web app now. Is there a place where this is online already, or are we still waiting to deploy?

[2015-06-11 18:27] travs commented on #35
This is happening now.

[2015-06-11 18:27] #35 closed

[2015-06-11 18:55] rgerkin commented on #47
I'm starting this today.

[2015-06-11 19:00] rgerkin commented on #52
Much of the content of the Evaluator class [here](https://github.com/VahidGh/ChannelWorm/blob/cwFitter/cwFitter/Evaluator.py can be placed inside the sciunit Test method "compute_score", first by just using the Evaluator class as written and instantiating and calling it in compute_score, and returning its result, and eventually by refactoring it for SciUnit.

SciUnit at one time had a Comparator c

[2015-06-11 19:00] travs commented on #47
@rgerkin
Excellent, thanks!

I've merged everything to do with testing into the master branch today, in case you're wondering where to branch from.

We also have a sample generated IV curve [over here](https://github.com/VahidGh/ChannelWorm/tree/master/scripts). It's not correct, but may be useful for knowing what output may look like.

[2015-06-11 19:03] VahidGh commented on #51
@travs, agreed. Going to complete the Modelator class of the cwFitter.
As discussed with @miladjafary, the next step for the web app, would be showing these results for each ion channel.

[2015-06-11 19:05] VahidGh commented on #35
@travs, great. Do we still need [this](https://github.com/VahidGh/ChannelWorm/blob/master/.gitmodules) sub-module?

[2015-06-11 20:30] travs commented on #35
@VahidGh  Nope! I'll get rid of it

[2015-06-12 05:24] rgerkin commented on #52
In [this](https://github.com/VahidGh/ChannelWorm/blob/tests/tests/IVCurve_Model.ipynb) notebook, in cells 20-22 you can see the implementation of simple cost function, which takes the sum of the squared difference between the observed and predicted IV Curves, after first interpolating them at 1 mV intervals.  The agreements between the curves is currently terrible, which must be due to either a pr

[2015-06-12 05:39] rgerkin commented on #47
@travs I missed this until just now.  The [script you referenced](https://github.com/VahidGh/ChannelWorm/tree/master/scripts) is now obsolete after my changes [here](https://github.com/NeuroML/pyNeuroML/pull/6) and demonstrated [here](https://github.com/VahidGh/ChannelWorm/blob/tests/tests/IVCurve_Model.ipynb), which allow you to run NML2ChannelAnalysis through a new run function, instead of doing

[2015-06-12 05:47] rgerkin commented on #47
@travs Biggest outstanding issue for me to get this into SciUnit format is that NML2ChannelAnalysis.run() (main() in the master branch) does too much stuff in one function.  I'd like to make it a lot more modular, so I can separate the construction and analysis of the IV curve from the generation and running of simulations.  I discuss this [here](https://github.com/NeuroML/pyNeuroML/issues/7)

[2015-06-12 07:51] VahidGh commented on #52
@rgerkin, good points, thank you. I also was thinking about the distance measurements. And working on some TODOs regarding these issues (assuming it's not only the I/V curves being used, and in the near future other curves such as I/t , V/t, G/V, m/t, h/t, etc are going to be used):

* How to normalize this function in order to cover all these curves in a way that results from each curve evaluatio

[2015-06-12 11:32] miladjafary commented on #38
@travs no there is not online demo yet.
you can deploy it localy. We should find a server  for online demo.

[2015-06-12 16:08] travs opened #58 "Adapt web app ion channel models to interface with PyOpenWorm models"
The [models for ion channels in the web app](https://github.com/VahidGh/ChannelWorm/blob/master/ChannelWorm/ion_channel/models.py) need to be the same as [those in PyOpenWorm](https://github.com/openworm/PyOpenWorm/blob/channelworm/PyOpenWorm/channel.py).

[Gitter discussion](https://github.com/openworm/PyOpenWorm/blob/channelworm/PyOpenWorm/channel.py)

[2015-06-12 16:12] travs opened #59 "Find a permanent cloud deployment service for the web app"
Ideally we want as little downtime as possible.

Currently, we will deploy to OpenShift, but their basic plan has a "sleeping" period that takes a few seconds to wake from, so it will be less convenient when we want to send requests to this server if we go with that.

@joebowen mentioned [resource grants](https://www.openshift.com/resource-grants) that openshift offers, and that would be an awesom

[2015-06-12 16:32] travs opened #60 "Sync the patch-clamp app GUI with django's patch-clamp data model"
The user interface in the patch-clamp part of the web app will have a form for entering data.

This form should be automatically generated from the data models that django uses, rather than manually syncing the GUI whenever the underlying data structure is changed.

In fact, this should be done for all parts of the web app, so we can raise those issues when we have this one resolved.

[2015-06-12 16:36] travs opened #61 "Adapt web app patch-clamp model to interface with PyOpenWorm experiment model"
[The web app experiment model](https://github.com/VahidGh/ChannelWorm/blob/5a4e314d5bfcf7b554f85954bc2084ee8439894d/ChannelWorm/ion_channel/models.py) must be modified to fit with [PyOpenWorm's experiment model](https://github.com/openworm/PyOpenWorm/blob/2c413fdcf31fa497171a6936afcd0282ca29fd52/PyOpenWorm/experiment.py).

This should not be too difficult, since they both rely on "key-value" or "f

[2015-06-13 14:18] #11 closed

[2015-06-13 14:19] travs commented on #11
Closed by [this pull request in PyOpenWorm](https://github.com/openworm/PyOpenWorm/pull/131).

Raising another issue with regard to activation parameters.

[2015-06-13 14:20] travs opened #62 "Add activation parameters to channel model"
See #11

[2015-06-13 14:22] travs commented on #19
Closed by [this](https://github.com/openworm/PyOpenWorm/pull/131). We'll leave the other points (genetic properties/channelopathies) aside for the moment.

[2015-06-13 14:22] #19 closed

[2015-06-13 14:28] #45 closed

[2015-06-13 14:29] travs commented on #45
Moved to openworm/PyOpenWorm#133

[2015-06-13 14:35] travs commented on #61
[This](https://pythonhosted.org/neo/core.html#data-objects) is also relevant to implementing time series (discussion in #40)

[2015-06-13 14:36] travs commented on #40
#61 and #44 will be using points made in this discussion.
We'll close this for now and bring the implementation discussion over there.

[2015-06-13 14:40] travs commented on #58
This will become more relevant once we've done #44

[2015-06-13 14:41] travs commented on #20
Resolved by discussion in gitter
#44 and #58 deal with the data interface between the two projects involved.

[2015-06-13 14:41] #20 closed

[2015-06-13 14:44] travs commented on #18
Implementation issue in openworm/PyOpenWorm#133

[2015-06-13 14:45] #18 closed

[2015-06-13 14:53] travs commented on #13
Closed by openworm/PyOpenWorm#134

[2015-06-13 14:54] #13 closed

[2015-06-13 14:55] travs commented on #62
Moved to openworm/PyOpenWorm#135

[2015-06-13 14:56] #62 closed

[2015-06-13 15:20] travs commented on #36
[Here](https://github.com/VahidGh/ChannelWorm/blob/06d164849e43d931c7582dbd6909b68357545d4f/tests/hello_model_test.py) is a prototypical implementation of integrating the sciunit and nosetest frameworks. We can iterate on this as we go.

Also see #48

[2015-06-13 15:20] #36 closed

[2015-06-13 15:23] travs commented on #32
Since deciding on tests an iterative process, I'll close this now.

We have [one test](https://github.com/VahidGh/ChannelWorm/blob/b8e3b3c8a684b27565b41403e071e6a7e2d9a553/tests/IVCurve_Model.ipynb) that we are working on as a prototype, and more are sure to come.

[2015-06-13 15:23] #32 closed

[2015-06-13 15:24] travs commented on #28
We have [one test](https://github.com/VahidGh/ChannelWorm/blob/b8e3b3c8a684b27565b41403e071e6a7e2d9a553/tests/IVCurve_Model.ipynb) that compares simulated and observed I/V data, so this issue can be closed.

[2015-06-13 15:24] #28 closed

[2015-06-13 15:28] travs commented on #27
In progress with the development of [an example](https://github.com/VahidGh/ChannelWorm/blob/b8e3b3c8a684b27565b41403e071e6a7e2d9a553/tests/IVCurve_Model.ipynb)

[2015-06-13 15:29] travs commented on #14
We've made some progress on this, so we can close it based on the new issues raised in the verification & validation milestone.

[2015-06-13 15:29] #14 closed

[2015-06-13 15:35] slarson commented on #7
A start on this is now {here](https://github.com/openworm/PyOpenWorm/blob/alpha0.5/PyOpenWorm/channel.py#L157-L183) -- let's raise new issues to augment this

[2015-06-13 15:36] #7 closed

[2015-06-13 15:47] slarson commented on #15
@miladjafary @VahidGh @travs @joebowen I think with your last release, this is closed :)

[2015-06-13 15:47] #15 closed

[2015-06-13 16:09] slarson commented on #38
Looks like we've [done this](http://channelwormdjango-channelworm.rhcloud.com/).  Is it ok for it to stay here for now?

[2015-06-13 16:09] #38 closed

[2015-06-13 16:12] slarson commented on #12
We've moved away from the submodule so this is not relevant.

[2015-06-13 16:13] #12 closed

[2015-06-13 16:15] slarson commented on #59
We've got an example running [here](http://channelwormdjango-channelworm.rhcloud.com/).  What more do we need to do to determine if this is "suitable"?

[2015-06-13 18:08] miladjafary commented on #38
@slarson I think for now is enough
we can use it if for online demo also we can use it for data gathering

[2015-06-13 19:51] rgerkin commented on #27
I'll refactor NML2ChannelAnalysis a bit so I can use its components for a SciUnit-based version of the example.

[2015-06-13 19:55] rgerkin commented on #40
I'm just going to throw this out there:
https://github.com/BlueBrain/eFEL
While small now, it's a pretty huge deal because in principle due to the size of the related project.  Also @stripathy did AIBS release something like this as well, or is just whatever you've made to interact with their data?

[2015-06-13 20:16] VahidGh opened #63 "Integrate UI with cwFitter"
In order to process user-provided data and fit to the model using _cwFitter_, we need to work with its _Initiator_ class.
This class and related functions should be called from some _view_ pages of the Django web app. After choosing the channel type, providing patch-clamp data and digitizing graph(s), one should be able to start the fitting process and generating models.

[2015-06-13 21:34] stripathy commented on #40
@rgerkin - no, as far as I know, AIBS has yet to release their code for calculating ephys features given an input set of sweeps (or model optimization?), but when I asked them they said it was on their "to-do" list but made no promises about when it would be made available.

I want to play with the eFEL stuff - can we make getting it running on one of the AIBS ephys data sets an action item?

[2015-06-14 03:08] miladjafary opened #64 "Digitization module is broken after upload in openshift"
Digitization module in [here](http://channelwormdjango-channelworm.rhcloud.com/digitizer/5) is broken after upload in openshift. Because the required js and css of Digitization module couldn't be find.

[2015-06-14 06:43] slarson commented on #64
cc: @joebowen

[2015-06-14 09:45] VahidGh commented on #64
Also we have too many directories named channelworm which causing difficulties in module namings and calls.
@joebowen, Is there a way to make some changes to the OpenShift configuration file to work based-on our desired structure?

[2015-06-14 10:04] VahidGh commented on #40
@rgerkin, coo! It seems like the eFEL project is also a new project (began from this May), but how is this different from previous projects of the BBP?!

[2015-06-14 15:36] miladjafary opened #65 "Changing web app package name"
Changing web app package name as a standard for define python module

[2015-06-15 08:58] VahidGh commented on #64
@joebowen, It seems like there is a [new update](https://blog.openshift.com/openshift-online-march-2014-release-blog/) to the OpenShift that allows using a simpler template directory.
I reverted the master branch to the latest stable version. Would you please add the new configuration files based on this link?

[2015-06-15 10:09] VahidGh commented on #65
@miladjafary, Following discussions in #64, I think now this could be a better naming approach for the package:
channelworm (django root directory, all lower case) -> channelwormapp (or channelworm_app).
In this way we can call modules simpler, eg. channelworm.digitizer, etc.

[2015-06-15 12:19] miladjafary commented on #65
@VahidGh  Aggred .Also we can miss channelworm form second package and remain app ,so in this way we have
channelworm ( django root dir)
------\ app
------\digitizer
------\ion_channel
 . . .
so we can call modules simpler than before . e.g : channelworm.app, channelworm.digitzie

[2015-06-15 13:46] travs commented on #59
I guess OpenShift is suitable, though I'm getting a 500 error from that link at the moment, and the sleeping period I mentioned is a negative if we want to pull data from it to other programs.

Those are separate issues though, so we can close or rename this one.

[2015-06-15 13:51] travs commented on #27
@rgerkin sounds great! :smile:

[2015-06-15 14:51] VahidGh commented on #65
Yeah, or even *webapp* would be more meaningful.

[2015-06-15 15:05] VahidGh commented on #65
@miladjafary, would you please apply these changes ASAP, to fix the final structure and then go farther based on these naming?

[2015-06-15 17:16] travs opened #66 "Get webapp back online"
Not sure what's happening, but the [link I've been using](http://channelwormdjango-channelworm.rhcloud.com/) is giving me an error now.

Related to [this](https://github.com/VahidGh/ChannelWorm/issues/64).

[2015-06-15 17:27] slarson commented on #66
cc: @joebowen

[2015-06-15 17:30] joebowen commented on #66
Looks like there's an internal server error.  I'll check out the logs when
I get home from work tonight.

Joe

On Mon, Jun 15, 2015, 11:27 AM Stephen Larson <notifications@github.com>
wrote:

[2015-06-15 18:32] travs opened #67 "Use the algorithm's outputs to change the model's parameters"
To close this one we need to:
- [ ] Complete the TODOs stubbed out in the `initiators` class
- [ ] Get parameters to be fitted from the database and user interface

@VahidGh @miladjafary @slarson

[2015-06-15 18:34] travs opened #68 "Validate an optimized ion channel model"

[2015-06-15 18:47] travs opened #69 "Make digitized and simulated time-series data comparable"

[2015-06-15 18:50] travs opened #70 "Run channel validation tests under TravisCI"
#69 and #28 detail first implementations of these tests

[2015-06-15 18:53] slarson commented on #16
Hi all; doing some clean up on the issues in here; I think this issue encompasses the entire effort we are putting in across all the other issues and milestones.  Therefore, we're breaking up this effort into smaller cards and smaller milestones that have definite end points.  Closing this for now.  See the re-defined and relabelled milestones in this project for where this has gone.

[2015-06-15 18:53] #16 closed

[2015-06-15 19:07] travs commented on #9
We've decided that we will use the web app's db as an intermediary between the data source (papers) and PyOpenWorm.

Synchronization and other questions can get their own individual issues as they become more apparent.

[2015-06-15 19:07] #9 closed

[2015-06-15 19:08] travs commented on #46
@vahidgh What is the status of this one?

[2015-06-15 19:14] travs opened #71 "Collect 7 I/V curves from journal articles"
Depends on #39

Listed in [this spreadsheet](https://docs.google.com/spreadsheets/d/1jTXDHsLsdK-T_d-RwCb4gmQgMhjumvZE7C_2PEXFYAk/edit#gid=0), which takes from [this folder](https://drive.google.com/folderview?id=0B4qffTA1q81rfmhoZzBva2xKRTJIVTlhR2plYTF2S2JCNXBLODJWN09KUHU4X09FN0hEQlE&usp=sharing)

[2015-06-15 19:17] travs opened #72 "Digitize the 7 I/V curves"
- [x] 1
- [x] 2
- [x] 3
- [x] 4
- [x] 5
- [x] 6
- [x] 7

See: #71

[2015-06-15 19:18] travs opened #73 "Collect 7 current-time series"
Depends on #39

[2015-06-15 19:18] travs opened #74 "Digitize the 7 current-time series"
- [x] 1
- [x] 2
- [x] 3
- [x] 4
- [x] 5
- [x] 6
- [x] 7

[2015-06-15 19:22] VahidGh commented on #46
We've discussed with @miladjafary about this. It's a bit difficult to implement, but finally we need this feature or something like this. It's still an open issue...

[2015-06-15 19:52] VahidGh opened #75 "Show the final results through web app"
#51, is a relevant issue to this. We need to show these outputs to the user.

[2015-06-15 20:10] VahidGh opened #76 "Show available info and models for each ion channel through web app"
A page is needed to show available info and models for each ion channel.
Related to #7 and #75.

[2015-06-15 20:18] slarson commented on #76
I think it makes sense to start building the bottom-most part of [this
interface](
http://docs.openworm.org/en/latest/Projects/model-completion-dashboard/) in
relation to this :)
ᐧ

On Mon, Jun 15, 2015 at 1:10 PM, Vahid Ghayoomi <notifications@github.com>
wrote:

[2015-06-15 20:25] VahidGh opened #77 "Design a home page for the web app"
We need to design and implement a home page that covers at least:
- Overall info about the ChannelWorm + OpenWorm
- A brief tutorial about how the modeling pipeline works
- Some navigation tools for accessing each ion channel

[2015-06-15 20:36] slarson commented on #77
Good point.  I would encourage that the home page be a simple landing page though and that it points out to http://channelworm.readthedocs.org for the substantive content (tutorials, in depth info, etc)

[2015-06-15 20:53] #65 closed

[2015-06-15 21:11] miladjafary commented on #65
@VahidGh done. Now you can do your changes.
note :
1. Package name should be lower case.
2. Package name with 2 word or more should be separated by underline (_).
 So you should change cwFitter to cw_fitter. Also I sujest you remove "cw". In this case module can adders as
**channelworm.fitter** instead of **channelworm.cw_fitter**

[2015-06-15 23:02] joebowen commented on #64
@VahidGh, So I'm not sure what to do here.  We were using that new updated structure for our directory structure.

[2015-06-16 03:10] miladjafary commented on #76
@VahidGh I think that we have all related information  which is came to @slarson interface, "Ion Channel Parameter".

[2015-06-16 03:11] miladjafary commented on #77
I am trying to design an sketch of Home page and share it here , so we can talk about it here more

[2015-06-16 07:10] VahidGh commented on #76
@miladjafary, Yep, but we need also to add those figures.

[2015-06-16 07:17] VahidGh commented on #77
@miladjafary, Great!

[2015-06-16 11:51] travs commented on #61
Closed by #78

[2015-06-16 11:51] #61 closed

[2015-06-16 12:34] joebowen opened #79 "Update the web app to use new smaller directory structure"
Update the web app to use new smaller [directory structure](https://blog.openshift.com/openshift-online-march-2014-release-blog/).

[2015-06-17 11:58] travs opened #80 "Generate autodocs from ChannelWorm's internal code"
Since ChannelWorm will be gaining a number of internal functions and classes, it would be helpful if we were able to incorporate their docstrings into the repo's documentation.

This can either be done with Mkdocs (markdown) using [a plugin](https://github.com/erichulser/mkdocs_autodoc/blob/master/README.md) or, failing that, [sphinx](http://sphinx-doc.org/tutorial.html#autodoc)

[Originally menti

[2015-06-17 19:19] travs opened #81 "Make a grid representing all neurons, colour coded based on their level of completion"
In javascript, similar to, or implenting [this](https://github.com/openworm/org.geppetto.frontend/blob/master/src/main/webapp/js/widgets/connectivity/Connectivity.js#L239-L391) from Geppetto ([rendered here](https://files.gitter.im/slarson/wUqk/Screenshot-2015-06-17-12.19.56.png))

[2015-06-17 19:19] travs opened #82 "Make a grid representing all muscles, colour coded based on their level of completion"
In javascript, similar to, or implenting [this](https://github.com/openworm/org.geppetto.frontend/blob/master/src/main/webapp/js/widgets/connectivity/Connectivity.js#L239-L391) from Geppetto ([rendered here](https://files.gitter.im/slarson/wUqk/Screenshot-2015-06-17-12.19.56.png))

[2015-06-17 19:20] travs opened #83 "Make a grid representing all ion channels associated with a cell, colour coded based on their level of completion"
In javascript, similar to, or implementing [this](https://github.com/openworm/org.geppetto.frontend/blob/master/src/main/webapp/js/widgets/connectivity/Connectivity.js#L239-L391) from Geppetto ([rendered here](https://files.gitter.im/slarson/wUqk/Screenshot-2015-06-17-12.19.56.png))

[2015-06-17 19:22] travs opened #84 "Make a table with ion channel parameters that can be displayed per ion channel"

[2015-06-17 19:23] travs opened #85 "Make an image gallery with overlaid simulated/reported data plots that can be used for each cell"

[2015-06-17 19:23] travs opened #86 "Create a section with references/citations with hyperlinks for each reported data item"

[2015-06-18 14:54] #79 closed

[2015-06-18 15:11] VahidGh opened #89 "Verify Django app updates using Travis CI"
We need some tests to verify if any updates to the Django app will be built successfully.
[This post](http://cramer.io/2012/05/03/using-travis-ci/) might be helpful.

[2015-06-18 15:28] VahidGh opened #90 "Syncing the db and models between the repo and server"
As with [this commit](https://github.com/VahidGh/ChannelWorm/commit/978b25d0c655be06b688117d9a5e38110d4c1a84), the local DB will be excluded from getting synced with the server.
We need to do something like `python manage.py migrate` to apply new changes on the tables but not affecting data.
Also it would be nice if we could consider a separate branch to occasionally sync back the DB from the serv

[2015-06-18 15:31] VahidGh commented on #90
@joebowen, what do you think? following previous discussions.

[2015-06-18 17:34] travs opened #91 "Create UI for curation process"
This will include authentication, data viewing, and export button (which calls "export" function, that is not yet written).

[2015-06-18 17:35] travs opened #92 "Write an Export function that saves data from ChannelWorm to PyOpenWorm"
This will be a facade that calls the adapter classes going from CW to PyOW.

[2015-06-19 00:53] miladjafary commented on #91
@travs @VahidGh according to chat ,  I think we can handle the syncing CW and pyow in the business logic of crud and overide  in model code .
I am not sure , but if it possible,  it could be better than have and export function and handle it manually by the User.

The syncing  step could be this :
1-  user add an entity in CW throughout  UI. (Experiment  , patch-clamp , ....)
2-  django  save the

[2015-06-19 10:00] VahidGh commented on #91
@miladjafary, This curation step is not exactly the same process as we discussed before.
Here the point is that someone who is allowed to curate a model manually (maybe after some automatic validation process), decides whether a model is accurate enough to be shared with the scientific community. Then he/she decides to flag that model as "curated".
In long-term, this process should be integrated w

[2015-06-19 12:11] joebowen commented on #90
@VahidGh

We could add a `python manage.py migrate` to the cron script to handle applying the new changes.  Do you think we'll have an issue if that's occurring every minute with the cron task?  We could always reduce this to an hourly job, but it's probably best if it happens with the main cron update so that the website doesn't get updated and then take an hour to migrate the db.

As far as sync

[2015-06-19 14:05] VahidGh commented on #90
@joebowen, As for the first issue, if `python manage.py migrate` is OK, unless doesn't affect data itself. And I don't think there would be any problem with occurring every minute. We can test it...

And for the second one, I was thinking about having a different branch (not master) which gets the latest update from the serve, using a daily cronjob. Then we can manually merge this one with the mas

[2015-06-19 14:08] joebowen commented on #90
@VahidGh as far as the migrate, I'm not familiar enough with django to know if it affects the data, but we can look into it.

For the second one, I like that idea.  That should be pretty easy to setup and shouldn't be too risky.

[2015-06-20 17:30] cheelee opened #93 "muscle_model missing documentation"

[2015-06-20 17:36] cheelee commented on #93
In the muscle_model repository, NeuroML2 folder. The README.md instructions ask the user to try:
    jnml LEMS_Figure2A.xml

but does not explain how one should get hold of jnml. For me, I found it in the jNeuroML repository, cloned it, and followed the README.md instructions there. That appeared to be successful, and I was subsequently able to run from the jNeuroML folder:

./jnml <pathto>/muscle

[2015-06-21 09:46] VahidGh opened #94 "WSGI application 'web_app.wsgi.application' could not be loaded"
New configurations for deploying web app on the OpenShift, causing this error when trying to run it locally:
`WSGI application 'web_app.wsgi.application' could not be loaded`

Commenting out [this line](https://github.com/VahidGh/ChannelWorm/blob/master/channelworm/web_app/settings.py#L74) solves the problem, but may cause some other problems in the OpenShift side.

[2015-06-21 09:47] VahidGh commented on #94
@joebowen, would you please take a look at this issue.

[2015-06-21 10:21] miladjafary commented on #94
@VahidGh I think it's not related to openshift changes.
it's about APP. I will check it asap.

[2015-06-21 11:42] VahidGh commented on #90
The migration issue resolved via 64ac54b8f4cba2c6bcb6407d2e7baeb2d6ae0f68.

[2015-06-21 13:15] joebowen commented on #66
Web app is back online now

[2015-06-21 13:15] #66 closed

[2015-06-21 16:44] joebowen commented on #94
This should be fixed now.

[2015-06-21 16:44] #94 closed

[2015-06-21 16:47] travs commented on #8
The channels we're looking at are listed in [this spreadsheet](https://docs.google.com/spreadsheets/d/1jTXDHsLsdK-T_d-RwCb4gmQgMhjumvZE7C_2PEXFYAk/edit#gid=0), which takes from [this folder](https://drive.google.com/folderview?id=0B4qffTA1q81rfmhoZzBva2xKRTJIVTlhR2plYTF2S2JCNXBLODJWN09KUHU4X09FN0hEQlE&usp=sharing)

[2015-06-21 16:48] joebowen commented on #64
This is done.

[2015-06-21 16:48] #64 closed

[2015-06-21 16:48] cheelee commented on #94
So should wsgi/wsgi.py be removed from the repository in that case?

[2015-06-21 17:27] travs opened #95 "Make fields in models.py nullable"
@joebowen said:

[2015-06-21 17:30] joebowen commented on #95
[Example](https://github.com/VahidGh/ChannelWorm/blob/4e67e63a3ae95d3971e94fc19e681b1fb4c49433/channelworm/ion_channel/models.py#L31)

[2015-06-21 17:38] rgerkin opened #96 "Determine origin of scale offset in model/test comparison"
In [this](https://github.com/VahidGh/ChannelWorm/blob/tests/tests/IVCurve_Model.ipynb) comparison of model and data, the scales of the resulting IV curves (cell 19, may change) differ by about a factor of 10 (data in black, model prediction in red).  Where is this coming from?

[2015-06-21 18:25] stripathy commented on #8
A few questions I had while going through ~5 papers for channels data:

1. What's the data we're looking for? Data from cultured c-elegans neurons? From cells in which a single channel had been expressed (like a xenopus oocyte cell)? What's the right way of encoding either of these?
2. What are the different current quantification types (I/V V/I G/Gmax, etc)? Which are useful? How do you encode th

[2015-06-22 06:03] rgerkin commented on #40
@VahidGh I think it's the first time they released anything of this sort, i.e. public tools.

[2015-06-22 14:34] pgleeson commented on #92
Sorry for raising this again, but this is the type of thing that worries me... The contents of PyOpenWorm should be curated, stable, well tested & trustable. I'm fine with some of the contents relating to models if they're clearly marked as such, rather than published literature, but there certainly shouldn't be a quick & easy route for contents added via a web app to get into the core of PyOpenWo

[2015-06-22 15:14] VahidGh commented on #92
@pgleeson, Good points, thanks for clearing this.
I reefer to #91 for more details. also we had some chats after this issue. I think now we are agreed on what your concern is.

[2015-06-22 15:37] VahidGh commented on #8
@stripathy, thanks for your comment.
As for the cell type, we are going to store data related to any kind of experiment. As we might generate different models for a single channel, and decide on the best one during a higher level optimizations ([C302 projec](https://github.com/openworm/CElegansNeuroML/tree/master/CElegans/pythonScripts/c302)).

Some effects based on different experimental conditio

[2015-06-22 15:58] slarson commented on #91
Hi guys, I think we need a diagram on the curation process that has a block for the CW app, a block for PyOpenWorm and maybe a flow diagram with questions to determine when something goes into PyOpenWorm.  What are the questions we would ask for when something goes in and when it stays out?

As for contents, I would think that the data model consisting of experiment, channel info, channel model in

[2015-06-22 15:59] slarson commented on #92
@pgleeson we're versioning the contents of PyOpenWorm so there won't be data updates until they are first examined on a branch and a pull request gets issued.  On top of that there is a curation process implied between ChannelWorm and pushes into PyOW that is being worked out.

[2015-06-22 16:11] VahidGh commented on #96
@rgerkin, I think we need to divide the predicted current by membrane capacitance. The observed current has A/F unit (in cell 16), I'm handling this by the `toSI` parameter that for some reason did not consider in the peace of code you've taken from the cwFitter.

[2015-06-23 07:20] rgerkin commented on #96
@VahidGh @pgleeson Good catch.  Where do I find the capacitance in the "cell" used by the pyNeuroML LEMS template for doing IV curve experiments?  Is it set to 1 implicitly?  We need about a factor of 10 to get these things back in register.

[2015-06-23 07:59] rgerkin commented on #47
@travs Everything is working in SciUnit [here](https://github.com/VahidGh/ChannelWorm/blob/tests/tests/IVCurve_Model.ipynb), except as noted in #96.  All model and test interface in SciUnit is shown there.

[2015-06-23 08:01] rgerkin commented on #70
This will require running the SciUnit test as shown [here](https://github.com/VahidGh/ChannelWorm/blob/tests/tests/IVCurve_Model.ipynb) and checking for `score.score is True`

[2015-06-23 08:02] rgerkin commented on #48
@travs Just eye-balling it, I set 100 pA^2 to be the minimum acceptable sum-squared difference between the model and experiment IV curves.

[2015-06-23 08:12] rgerkin opened #97 "Move SciUnit models/tests/capabilties to their own branch/repo/directory"
I propose taking the notebook [here](https://github.com/VahidGh/ChannelWorm/blob/tests/tests/IVCurve_Model.ipynb), and moving all the models, tests, and capabilities declared in those cells into their own repo.

The capabilities and tests are generic enough to be in NeuronUnit.  The models (just one for now) could be in a ChannelWorm branch called scidash or just a scidash directory.  The name sci

[2015-06-23 13:53] pgleeson commented on #51
I agree that an output in "pure" NeuroML 2 (along with plenty of metadata from the fitting in `<annotation>` elements) would be very useful.

[2015-06-23 14:51] travs opened #98 "Add digitization best practices to the walkthrough"
Plots like those digitized by @rayner in openworm/muscle_model#40 do not have original data points, nor zeroed axes.
The current walkthrough does not address this possibility, so the practices employed by @rayner should be included there as well.

[2015-06-23 15:19] travs commented on #93
@cheelee Thank you for the report; we certainly need to document this.

 I've moved this issue over to the openworm/muscle_model#45

[2015-06-23 15:19] #93 closed

[2015-06-23 15:20] travs commented on #66
Thanks @joebowen !

[2015-06-23 15:26] travs commented on #91
@VahidGh Agreed. I am starting to define the schema for these data models in PyOpenWorm right now. In our meeting today we can discuss the parameters we want a bit further, and I can incorporate those into my changes in PyOW.

@slarson Also agreeing here; we need some sort of defined protocol for a curator to follow when this UI is available.

[2015-06-23 15:41] travs commented on #92
@pgleeson This is of course a valid concern. Given the versioning and curation @slarson mentions, I think it is still possible to write this export function now, and not make use of it until we've decided how to handle modelling information alongside other information in PyOW.

If we go this route, this can be rephrased as a  question of data access in PyOpenWorm: how can we appropriately separate

[2015-06-23 15:44] travs commented on #47
@rgerkin
Excellent! Thanks for this Rick.
Will add a comment to the pull request to automatically close this when it is merged.

[2015-06-23 15:45] #47 closed

[2015-06-23 15:52] travs commented on #48
Excellent, we can decide on what the value should be for this acceptable range at a later date.

Since we have a prototype for this now, I will close the issue.

Thanks again @rgerkin !

[2015-06-23 15:52] #48 closed

[2015-06-23 16:15] travs commented on #97
@rgerkin
It would be nice to have some of this stuff abstracted away into another library/repo as you suggest, and incorporate it the same way we incorporate SciUnit right now.

If we were able to simply define the tests we wanted and the models we wanted to test via a notebook or single test script in ChannelWorm, it would simplify the repo's contents a bit.

I think we should wait until the loop

[2015-06-23 16:50] pgleeson commented on #92
Ok, glad to see you're thinking about potential issues with this too.

[2015-06-23 18:18] rgerkin opened #99 "Merge cwFitter branch"
I'd like the SciUnit stuff to work without needing multiple branches of ChannelWorm checked out.  Can we merge the cwFitter branch back in, or at least patch master will all of its current content?

[2015-06-23 18:18] rgerkin commented on #99
@VahidGh @travs

[2015-06-23 18:40] VahidGh commented on #99
@rgerkin, we had some name changing issue. Now the master branch is stable and you can call it via `channelworm.fitter`. It's still under development but in the next step we will integrate this with the data model and you can have access to data much easier.

[2015-06-23 19:01] VahidGh commented on #97
@rgerkin, @travs, Sounds good, and would be very useful if we can integrate the SciUnit tests and OSB model validations on Travis CI.

[2015-06-23 19:13] rgerkin commented on #97
@VahidGh @travs Until we have a better grasp on acceptable score ranges, scaling errors in the simulation, etc., let's just have Travis-CI run the sciunit tests and get a score, but not actually assert that the test passed.  Getting through the testing and producing a score should be sufficient for now.

[2015-06-23 19:33] stripathy commented on #8
Regarding the issue of what IV curves are useful for the modeling team (e.g., is representing current as "normalized current" OK, is representing current as picoAmps better, etc), we should ask what needs to be extracted so that the IV curve can be represented in neuroML.

[2015-06-23 19:35] VahidGh commented on #51
@pgleeson, Of course. And also some graphs for better depicting the whole things.

[2015-06-23 22:44] travs opened #101 "Generalize testing notebook"
Right now some of the paths are local to @rgerkin . Since we're going to try running this via TravisCI we will need to change those paths. There may also be other repos/libraries to install (in setup.py) for this to work.

[2015-06-23 22:46] travs opened #102 "Enable testing notebook to be run in CI"
@rgerkin What is the best practice for getting iPython notebooks to run as scripts? I want to get this to run on TravisCI, but I'm not sure if I have to install iPython on there or what.

Do you use something like [this](https://github.com/paulgb/runipy), or is there an export you usually do or something?

[2015-06-24 00:36] rgerkin commented on #101
@travs
I think best practice would be to assume that `import channelworm` in the notebook will import a version that has the example IV curve data (and I think it does now after some recent merges).  In Travis we can make sure that this works by doing `pip install git+https://github.com/VahidGh/ChannelWorm@tests`, which will use the tests branch.

[2015-06-24 00:39] rgerkin commented on #102
@travs nbconvert (part of IPython) can export a notebook to a plain script.  So we can either require that a script version of the notebook be committed with each notebook change, or maybe just install ipython in the travis script and have it use nbconvert to export the notebooks.

[2015-06-24 01:20] #99 closed

[2015-06-24 20:53] travs commented on #101
@rgerkin
Trying to run this locally but I'm getting an error. Do you know off hand what [this is saying](https://github.com/VahidGh/ChannelWorm/blob/tests/tests/IVCurve_Model.ipynb) (at bottom)?

[2015-06-24 21:30] rgerkin commented on #101
@travs You need to upgrade sciunit.  I should have put a check for this in the notebook.

[2015-06-24 21:32] rgerkin commented on #101
@travs The new field `last_model` allows the test to remember the last model that it was executed against, which allows one to add various convenience methods provided by the model to the `score` in `compute_score`.

[2015-06-25 00:30] travs commented on #102
Ok, I'm not too familiar with the ipython infrastructure if you can't tell.

For now I've just exported the script with `nbconvert` and manually removed the magic function, and wrote a test to make sure it exits with `0` (i.e. it ran).

We can come up with something more sustainable/automated as we start to more heavily modify the notebook(s).

[2015-06-25 07:19] VahidGh commented on #8
@stripathy, Actually I've considered a parameter named `toSI` for these kind of conversions, but the 'normalized current' that we saw in that paper was so rare, the first time I've ever seen in an article! Will consider an special case for this one.
But in general, we consider SI units for the final result (with some pico, mili, etc for simpler showing) and what is considered in the original paper

[2015-06-25 08:25] miladjafary opened #103 "Add Authentication to web app"

[2015-06-25 16:13] travs opened #104 "Dynamically generate channelworm data models from PyOpenWorm data models"
We want to define our data models in PyOpenWorm, so that we only have one schema to maintain.

We still need a model for django to use, however, so there must be a method of getting the PyOpenWorm data model structure and generating the django models dynamically.

[2015-06-25 18:51] travs opened #105 "Write test that ensures data adapters are in sync with ChannelWorm data models"

[2015-06-26 15:37] travs opened #106 "Find datasets for protein sequences and non-c. elegans ion channel models"
This is separated into:
- [ ] #112
- [ ] #113
- [ ] #114

[2015-06-26 22:35] travs opened #107 "Unable to run tests in django project"
I'm trying to write some tests for the django project, but when I run `./manage.py test` I get an error :frowning:

[output](http://hastebin.com/onujiqomud)

@miladjafary @VahidGh
Do you guys have any idea what may be going on here?

[2015-06-27 04:14] miladjafary commented on #107
@travs I think you should sync db .run this :

./manage.py makemigrations ion_channel
./manage.py migrate

it could be help. let me know if it is not work.

[2015-06-27 07:09] VahidGh commented on #107
@travs, Do a fresh clone and see if you get the same error (or remove all the files in the `migrations` directory under `ion_channel` directory).
The web app is working well after new changes in the OpenShift, so this should not happen with codes exactly as same as the master branch of the repo!

[2015-06-30 13:17] travs commented on #103
@miladjafary
Hey! :smile:
How is this issue progressing so far?

[2015-06-30 13:18] travs commented on #63
@VahidGh
Hey Vahid, how is this issue coming along?

[2015-06-30 13:19] travs commented on #95
@joebowen
Is this issue resolved now?

[2015-06-30 13:24] travs commented on #27
Status report:

- There is a validation test template for ion channel models with patch clamp data as a result of work by @rgerkin (iPy notebook in the `tests` directory).

- There is not yet a validation test template for ion channel models *without* patch clamp data available.

[2015-06-30 13:53] joebowen commented on #95
@travs my understanding was that the bigger fix for this was to create a
sync job but I'm not sure where that stands.  @vahidgh might better be able
to answer this.

On Tue, Jun 30, 2015, 7:19 AM Travis Jacobs <notifications@github.com>
wrote:

[2015-06-30 17:33] VahidGh commented on #63
@travs, today, @miladjafary and I had a chat about these 2 issues. I did some changes to models, and I hope we would apply them to the UI by the end of this week.

[2015-06-30 17:34] VahidGh commented on #95
@travs, @joebowen, yes, with new models and updates this is now resolved.

[2015-06-30 17:34] #95 closed

[2015-07-01 03:24] miladjafary commented on #103
HI
auth module active now I should upload it to repo.
but i am working on the user dashboard for CRUD operation
I hope finish it on the weekend

[2015-07-01 16:15] gsarma opened #108 "Create a cleaner installation experience"
Discussion with @travs:
1) Installation (for all OpenWorm modules) shouldn't be verbose by default
2) Log files should be optionally generated for debugging issues that arise

[2015-07-01 17:51] travs commented on #90
@VahidGh Is this issue finished?

[2015-07-01 17:55] travs commented on #103
@miladjafary
Ok this is exciting! I see this as the only roadblock right now to accomplishing some data entry with @stripathy and @vahidgh

If there is anything I can do to help move this along please let me know :-)

[2015-07-01 18:09] travs commented on #63
@vahidgh Awesome!

[2015-07-01 18:10] travs commented on #52
Hey @VahidGh, how is this one going; can we still consider it "in progress"?

Also, are there any sub-issues we can create cards for, or anything else I can help with?

[2015-07-01 18:12] travs opened #109 "Clean up branches"
There are currently too many branches that have gone stale, so I will run through them, merge their changes into `dev` if the branched feature is complete, and delete the branches we don't need.

[2015-07-01 18:14] travs opened #111 "Make "dev" branch"

[2015-07-01 18:14] VahidGh commented on #90
Yes, for the first one. And for the second issue, I'm getting a backup from DB by demand.

[2015-07-01 18:14] #90 closed

[2015-07-01 18:15] travs commented on #111
Reopen https://github.com/VahidGh/ChannelWorm/pull/110 pushing to `dev`

[2015-07-01 18:17] travs commented on #43
@vahidgh

Is this still in progress? If there are any sub-issues let's raise those separately, and let me know if there's anything I can do to help! :)

[2015-07-01 18:21] travs commented on #39
@stripathy @vahidgh

Along with #71 and #8, this depends on the authentication (#103) being in working order, so we can insert into the database and nail down a workflow/walkthrough for going from a plot in a paper to an ion channel model ready for export to PyOpenWorm.

[2015-07-01 18:22] travs commented on #39
@stripathy @vahidgh

Along with #71 and #8, this depends on the authentication (#103) being in working order, so we can insert into the database and nail down a workflow/walkthrough for going from a plot in a paper to an ion channel model ready for export to PyOpenWorm.

[2015-07-01 18:26] travs commented on #25
@vahidgh @a-palyanov

Hey guys, since our discussion last week, what do you think are some concrete next actions for moving this one forward? Perhaps we can raise them in sub-issues?

[2015-07-01 18:36] VahidGh commented on #52
In the cwFitter side, I've considered a field in our data model to store the final fitness/score when a model is built. thanks to @pgleeson, it is possible from Neurotune side.
Right now it is dependent on the y axis (e.g. A/pA for I/V or VClamp and V/mV for IClamp, etc). But a better option would be a normalized one (some unit-independent distance measurement).

[2015-07-01 19:43] VahidGh opened #112 "Collect protein sequence data for ion channels in C. elegans"
For estimating kinetics, we need to collect protein/structural data about ion channels in C. elegans.

This could be done by some script which is able to:

1) Retrieve the protein entry in WormBase (e.g. [EGL-19, isoform a](http://www.wormbase.org/species/c_elegans/protein/WP:CE28820#061--10)) for the ion channel of interest from the [spreadsheet](https://docs.google.com/spreadsheets/d/1Oct5cXqSUh

[2015-07-01 20:21] VahidGh opened #113 "Collect a dataset of electrophysiology data for ion channels in any type"
For kinetics estimation from structural properties for ion channels in C. elegans, we need to collect a dataset of available electrophysiology data.
For each ion channel, data should at least contain: activation time constant, V_half, and activation slope.

Available datasets are:

1) [Channelpedia](http://channelpedia.epfl.ch/), is a DB of ion channels in mammalians.
For this case, data could be

[2015-07-01 20:24] VahidGh opened #114 "Collect protein sequences for ion channels with available electrophysiology data"
As same as #112, we should collect protein sequences for collected ion channels in other species (related to #113).

[2015-07-01 20:26] VahidGh commented on #25
@travs, #112, #113, and #114 are starting points for this issue.

[2015-07-01 20:49] VahidGh commented on #43
@travs,  This would be open, unless we have the first working/validated model. especially for the 3rd challenge mentioned above :)

[2015-07-02 16:20] travs commented on #101
Closed by #115

[2015-07-02 16:20] #101 closed

[2015-07-02 20:41] travs commented on #111
Proposal [here](https://gitter.im/VahidGh/ChannelWorm?at=5595a05df1ed8771684fb085).

[2015-07-02 20:41] #111 closed

[2015-07-02 20:44] travs commented on #109
@joebowen
[This branch](https://github.com/VahidGh/ChannelWorm/tree/webappreorg%2379) is 4 commits ahead of master, but several more behind. Can you confirm whether it is stale, Joe?

@VahidGh
Do we need the [gh-pages](https://github.com/VahidGh/ChannelWorm/tree/gh-pages) branch any more?

[2015-07-02 20:56] travs commented on #52
@VahidGh Ok, so should we close this issue here, and raise it in the relevant Neurotune fork instead? That is, unless I am misunderstanding.

[2015-07-02 21:02] VahidGh commented on #52
@travs, the cost value being calculated in the cwFitter, and the best one returns by Neurotune. So it is still open in cwFitter side.

[2015-07-02 21:18] travs commented on #25
@VahidGh Excellent! Please close #106 if it is redundant now; I'm not sure.

[2015-07-02 21:41] VahidGh commented on #25
@travs, actually I separated #116 to three different issues.

[2015-07-02 21:59] travs commented on #25
Ok, I'll update #106 to reflect this.

[2015-07-03 10:34] #103 closed

[2015-07-03 11:53] miladjafary opened #119 "Design user registration page"

[2015-07-03 15:00] #119 closed

[2015-07-03 15:13] VahidGh opened #122 "Create a reference management"
* The reference management should get doi or pmid, search online and store detail about the article.
* Related ion channels should be linked to the ref.
* Should include a url to the article (dropbox/web).

[2015-07-03 17:43] #102 closed

[2015-07-05 16:01] VahidGh commented on #122
Closed via 52a331b02801e5bbc5e5d9f40f219b8b9215f0a8 and b3ce1826ab5e8573f58f05b2f7b98d2786cf6555

[2015-07-05 16:01] #122 closed

[2015-07-07 02:38] travs commented on #104
We've decided to go with manually keeping PyOpenWorm's models updated for now, so we can close this.

[2015-07-07 02:38] #104 closed

[2015-07-08 21:56] #109 closed

[2015-07-08 21:57] travs commented on #75
Hey @miladjafary; what's the status of this one? I ran through a workflow and things look good! Is it safe to close this?

[2015-07-08 21:59] travs commented on #51
@vahidgh Is this one complete now?

[2015-07-08 21:59] travs commented on #63
@vahidgh @miladjafary
This one is complete now right?

[2015-07-09 17:56] travs opened #124 "Specify data points numerically instead of via mouse interface"
Raised in the google doc discussion:

@VahidGh

[2015-07-09 18:00] travs opened #125 "Numeric fields should be annotate-able with units"
@stripathy says:

And he gives some example code:

[code]

[2015-07-09 18:04] travs opened #126 "Mark optional fields as optional"
Some fields are not always necessary, so marking the field as optional, or giving a tip on hover that explains when to use the field may be helpful.

Or we could put them in some sort of section that implies "all these fields are optional".

[2015-07-11 18:59] miladjafary opened #127 "Design an experiment dashboard for simple data entry"
Design an experiment  dashboard for simple data entry that is work with AJAX
the final result should be look like blow picture
![screenshot from 2015-07-04 23 25 07](https://cloud.githubusercontent.com/assets/2297968/8634964/95ee839c-2824-11e5-981b-4606911d90b3.png)

[2015-07-12 01:56] #127 closed

[2015-07-12 15:27] travs commented on #81
https://github.com/joebowen/model_completion_dashboard/issues/1

[2015-07-12 15:27] #81 closed

[2015-07-12 15:28] travs commented on #82
Moved to https://github.com/joebowen/model_completion_dashboard/issues/2

[2015-07-12 15:28] #82 closed

[2015-07-12 15:29] travs commented on #83
Moved to https://github.com/joebowen/model_completion_dashboard/issues/3

[2015-07-12 15:29] #83 closed

[2015-07-12 15:30] travs commented on #84
Moved to https://github.com/joebowen/model_completion_dashboard/issues/4

[2015-07-12 15:30] #84 closed

[2015-07-12 15:30] travs commented on #85
Moved to https://github.com/joebowen/model_completion_dashboard/issues/5

[2015-07-12 15:30] #85 closed

[2015-07-12 15:31] travs commented on #86
https://github.com/joebowen/model_completion_dashboard/issues/6

[2015-07-12 15:31] #86 closed

[2015-07-12 15:43] miladjafary commented on #75
@travs actualy we are working on it with Vahid :d

[2015-07-14 15:34] VahidGh opened #128 "Separate required from optional fields in forms"
Some forms have a long list of fields, and it's not clear which field is required.
We need to define required ones in short forms and some kind of spliter to collapse/expand optional fields in long forms.

[2015-07-14 15:35] VahidGh commented on #128
@miladjafary

[2015-07-14 19:37] VahidGh opened #129 "Augment long drop-down lists with autocomplete"
Discussed and decided with @miladjafary:
Some drop-down lists such as list of ion channels, references, experiments, etc need to be augmented with autocomplete for searching easier, especially when it comes to manytomany (multiple-choice) fields.

[2015-07-15 17:41] travs commented on #8
This is broken down into #71 #72 and #39.

We can close this when those are closed, and any further discussion can be redirected to one of those issues.

[2015-07-15 17:42] travs commented on #75
@miladjafary @vahidgh What is the criteria for closing this issue?

[2015-07-15 17:43] travs commented on #51
@vahidgh Hey, when we meet again this week can we talk about this one?

[2015-07-15 17:45] travs commented on #63
@VahidGh @miladjafary Hey, can we talk about this one in our meeting this week?

[2015-07-15 17:51] travs commented on #52
@VahidGh Given the progress you were discussing during the hackathon, are you fine with the cost function you ended up choosing?

[2015-07-15 17:53] travs commented on #43
@VahidGh You were discussing some changes in ChannelWorm at the hackathon; do you think you have a good idea of what the activation/inactivation parameters you will be using are?

[2015-07-15 18:00] travs commented on #39
Next steps are to populate the plot type column in [the spreadsheet](https://docs.google.com/spreadsheets/d/1jTXDHsLsdK-T_d-RwCb4gmQgMhjumvZE7C_2PEXFYAk/edit#gid=0). If we have >7 of each type, we can close this issue, and create checklists in #73 and #71 for collecting, and #72 for digitization.

[2015-07-15 18:02] travs commented on #27
We will backlog this issue while we wait for #25

[2015-07-15 18:31] travs commented on #106
@a-palyanov Hey Andrey, this breaks down some of the data searching you, Vahid and I talked about a little while ago. Is this issue something you'd want to take on?

Here's the link to [your spreadsheet](https://docs.google.com/spreadsheets/d/1Dc0FlreJ06cpZo_rFLTnsp4iYPUzPa0a85uMwCGjxoY/edit#gid=0) that is a good start on collecting some of this data.

Pasting this in some other issues to link you

[2015-07-15 18:31] travs commented on #113
@a-palyanov Hey Andrey, this breaks down some of the data searching you, Vahid and I talked about a little while ago. Is this issue something you'd want to take on?

Here's the link to [your spreadsheet](https://docs.google.com/spreadsheets/d/1Dc0FlreJ06cpZo_rFLTnsp4iYPUzPa0a85uMwCGjxoY/edit#gid=0) that is a good start on collecting some of this data.

Pasting this in some other issues to link you

[2015-07-15 18:31] travs commented on #114
@a-palyanov Hey Andrey, this breaks down some of the data searching you, Vahid and I talked about a little while ago. Is this issue something you'd want to take on?

Here's the link to [your spreadsheet](https://docs.google.com/spreadsheets/d/1Dc0FlreJ06cpZo_rFLTnsp4iYPUzPa0a85uMwCGjxoY/edit#gid=0) that is a good start on collecting some of this data.

Pasting this in some other issues to link you

[2015-07-15 18:31] travs commented on #112
@a-palyanov Hey Andrey, this breaks down some of the data searching you, Vahid and I talked about a little while ago. Is this issue something you'd want to take on?

Here's the link to [your spreadsheet](https://docs.google.com/spreadsheets/d/1Dc0FlreJ06cpZo_rFLTnsp4iYPUzPa0a85uMwCGjxoY/edit#gid=0) that is a good start on collecting some of this data.

Pasting this in some other issues to link you

[2015-07-16 05:57] VahidGh commented on #51
@travs, Of course, although we would need more help on the implementation
side.

On Wed, Jul 15, 2015 at 10:13 PM, Travis Jacobs <notifications@github.com>
wrote:

[2015-07-16 06:05] VahidGh commented on #52
@travs, For I/V curves, yes, but as discussed before, in order to be able
to include other kind of curves, we have to normalize all cost values,
which is the case I'm currently working on...

On Wed, Jul 15, 2015 at 10:21 PM, Travis Jacobs <notifications@github.com>
wrote:

[2015-07-24 16:52] travs commented on #107
This one is closed now. I had to delete all but `__init__.py` in `ion_channel/migrations`, then do
[code]

[2015-07-24 16:52] #107 closed

[2015-07-24 16:53] travs commented on #105
Done as of 727e86a18751e311e322faf006f5327631764818

[2015-07-24 16:53] #105 closed

[2015-07-26 01:34] travs commented on #91
@VahidGh @miladjafary You guys have made significant progress on this. You this we can close this now?

[2015-07-26 04:09] miladjafary commented on #91
@travs  if it's just related to Authentication ,yes . we can close it :D

[2015-07-26 16:35] gsarma opened #131 "Create a test to check validity of PMID's and DOI's"
For data entered via the curation interface.  Should be nearly identical to what we did for PyOpenWorm.  See, for example:
https://github.com/openworm/PyOpenWorm/issues/158
https://github.com/openworm/PyOpenWorm/issues/159

[2015-07-26 18:08] #129 closed

[2015-07-27 14:12] travs opened #133 "Write adapter for ion channel"
ChannelWorm.IonChannel :point_right: PyOpenWorm.Channel

[2015-07-27 16:10] travs commented on #133
Need to know which attributes we want in the PyOpenWorm data model before this can be accomplished.

[2015-07-28 09:03] VahidGh opened #134 "Data history"
In order to be notified of new events/records, it would be useful to have a notification/data history.

This package could be helpful for this purpose:
http://django-simple-history.readthedocs.org/en/latest/usage.html

[2015-07-28 15:32] VahidGh commented on #128
it seems like it's the same as #126

[2015-07-28 15:32] #128 closed

[2015-07-28 16:08] travs opened #135 "Try PyTest framework for testing"
Not sure what this will entail.
I will set it up today and see if I can run the few tests available using PyTest.

Reasoning behind trying this is [here](https://gitter.im/openworm/ChannelWorm?at=55b7a2b75bc8dc8874420367).

[2015-07-28 16:23] travs opened #136 "Test suite directory structure"
@gsarma and I have started to define a testing directory structure, but the django app doesn't obey this by default.

To give a sense of how this spreads out our tests, check out this [tree diagram](https://gist.githubusercontent.com/travs/7bc86d775cb0cd072669/raw/3a099de25dc4c7946f7255304c856007e5208622/channelworm_tree.md)

PyTest may have some extension that remedies this, so after #135 we can

[2015-07-29 18:32] slarson commented on #69
#52 and #43 are relevant to this

[2015-07-29 18:35] slarson commented on #72
@travs do we think this is done now?

[2015-07-29 18:35] slarson commented on #71
@travs do we think this is done now?

[2015-07-29 18:35] slarson commented on #39
@travs is this done now?

[2015-07-29 18:36] travs commented on #72
@slarson 4 out of 7 I/V curves are now digitized.
Check out 1,2,3, and 5 [over here](http://channelwormdjango-channelworm.rhcloud.com/ion_channel/graph/).

[2015-07-29 23:16] slarson commented on #68
@mcurtis125 check this out.  @travs can you help flesh out the description of this so that @mcurtis125 can get a sense of next steps?

[2015-07-29 23:16] slarson commented on #67
@mcurtis125 check this out.  @travs can you help flesh out the description of this so that @mcurtis125 can get a sense of next steps?

[2015-07-30 17:53] VahidGh commented on #124
After selecting the point via digitizer, it is possible to edit the final result, when clicking on `view data`. Although using cwFitter there is no need to have precise values. We find the closest values approximately, using digitized data.

[2015-07-30 18:06] VahidGh commented on #98
@travs, for Vclamp data (V/t), the best (and easiest) approach I could find to fit data is to have at least data for top, bottom, and the trace along with the base voltage.
The stimulation voltage for these traces are usually available via the I/V curve. e.g. the top and the bottom traces are those with maximum and minimum current values in the I/V curve, and the voltage value for the trace along

[2015-07-31 16:14] travs commented on #124
@VahidGh Ok, since we have this ability I'll close this one now.

[2015-07-31 16:14] #124 closed

[2015-07-31 17:01] travs commented on #39
@slarson Just finished reviewing the plots we've selected in [the spreadsheet](https://docs.google.com/spreadsheets/d/1jTXDHsLsdK-T_d-RwCb4gmQgMhjumvZE7C_2PEXFYAk/edit#gid=0) and coded them by plot type.

We have 16 I/V plots and 19 I/t plots selected, plus various other plots.

Well on our way :+1:

[2015-07-31 17:01] #39 closed

[2015-07-31 17:04] travs commented on #71
@slarson Since cutting these figures out of the papers is implicit in the digitization process, I think we can actually close this and take the discussion over to #72 .

[2015-07-31 17:17] travs commented on #91
@miladjafary Ok right, I think there were 3 parts:
- [x] authentication
- [x] data viewing
- [ ] exporting

[2015-07-31 17:19] #91 closed

[2015-07-31 18:27] travs commented on #135
Relevant links:
[pytest getting started](http://pytest.org/latest/getting-started.html)
[pytest-django](http://pytest-django.readthedocs.org/en/latest/)

[2015-07-31 19:07] VahidGh commented on #96
The membrane capacitance value is used in the Boyle&Cohen model is ~7.2e-11 F. So if the current is in pA, then I'm not sure dividing by this value make it better.
In the other hand I don't know how this is available using LEMS or PyNeuroML, @pgleeson may could help on this. But it would be great if we had somewhere for storing such parameters.

[2015-07-31 19:17] VahidGh opened #138 "Store relevant parameters of experiments"
Some parameters like membrane capacitance, conductance, and reversal potentials are usually available along with the patch clamp experiment in the same paper.
It would be very useful if we could also store such parameters, when reviewing papers.
For this to be done, we need to consider some fields in existing models and forms.

[2015-07-31 20:15] VahidGh commented on #96
Another thing is that where did the max conductance and reversal potential come from?
In the Neuroml2 file for EGL-19 we don't have those parameters, they are available in a separate [cell.nml file](https://github.com/openworm/muscle_model/blob/master/NeuroML2/SingleCompMuscle.cell.nml). As I didn't know how should I handle those in this repo (https://github.com/openworm/muscle_model/issues/49), I

[2015-07-31 20:36] VahidGh opened #140 "Remove duplicate static files"
With the latest updates to UI, now we have two static directories with the same content under [wsgi](https://github.com/openworm/ChannelWorm/tree/master/channelworm/wsgi/static), and related directories for each app (digitizer, web_app, ec).

[2015-08-01 03:00] rgerkin commented on #136
Whatever you pick, I'll probably refine at the level of the SciUnit tests according to a schema I had in mind, something like:
[code]
with a .scidash file at the root pointing to this directory.

[2015-08-01 03:02] rgerkin commented on #113
@VahidGh Doesn't Channelpedia have NeuroML files for each channel?  They are supposed to...

[2015-08-01 03:40] miladjafary commented on #140
@VahidGh I only see one static directory under wsgi directory. and there is not any duplicate static file.
would you please expelling more?

[2015-08-01 05:37] kevcmk commented on #136
That shouldn't affect pytest as long as test functions are still prefixed with test_ and root test cases/suites with Test (no underscore)

[2015-08-01 08:37] VahidGh commented on #140
@miladjafary, e.g. [this](https://github.com/openworm/ChannelWorm/tree/master/channelworm/wsgi/static/digitizer) and [this](https://github.com/openworm/ChannelWorm/tree/master/channelworm/digitizer/static/digitizer)

[2015-08-01 08:42] miladjafary commented on #140
@VahidGh  I think it's because of "collectstatic" command.
May be in production env, we can delete static folders from app directory.

[2015-08-01 08:43] VahidGh commented on #113
@rgerkin, yep, and I've mentioned related scripts to retrieve data from. But unfortunately is not very well-defined. all parameters are within "expression" variables, and not in their right place, so needs some regular expression to find out desired values.

[2015-08-01 10:13] VahidGh commented on #140
I see. I guess we should use `-link` to prevent creation of those files in the wsgi directory (creating symbolic link instead). Would you please check which one is not required and then remove unnecessary ones?

[2015-08-01 10:35] miladjafary commented on #140
Sure , I will do it

[2015-08-01 16:41] rgerkin commented on #136
@kevcmk For pytest to know what to do with SciUnit tests, I think there would need to be a test_* function wrapping the instantiation and execution of the SciUnit test.  Otherwise it's not going to know what to do.

[2015-08-01 16:48] rgerkin commented on #140
@VahidGh @miladjafary Typically "collectstatic" is run only in production, because in production your static files are only served from one place, served by Apache or Nginx or whatever.  In testing locally, the django test server can just serve them from the app directories.  And so your staticfiles directory list should have the production location listed first (which will be ignored in local tes

[2015-08-01 17:08] rgerkin commented on #113
@VahidGh Sharon Crook tells me that @pgleeson has some corrected files, which may be available from him or from OpenSourceBrain.

[2015-08-01 20:14] VahidGh commented on #113
@rgerkin, good news, thanks.
@pgleeson, would be great if we could have those files, or any related dataset.

[2015-08-02 04:57] kevcmk commented on #136
@rgerkin If there's a pressing need, we can swap the function and/or file name filters.  But yea, wrapping them in a test_ call is the standard for pytest.

[2015-08-02 07:45] VahidGh commented on #140
@rgerkin, Right. thanks for your comment.

[2015-08-03 14:34] travs commented on #67
Just to close this loop temporarily, it appears that @VahidGh has been chatting with @mcurtis125 about this one and #68

[2015-08-03 16:00] VahidGh commented on #43
I could fit data to models using voltage-/ion- dependent activation/inactivation parameters.
The above mentioned parameters in addition to ion dependent ones for some channels were OK.
We may use some more appropriate names, if decided to generate fixed schemes for PyOW.

[2015-08-03 16:00] #43 closed

[2015-08-03 16:19] VahidGh commented on #52
OK, we can consider the cost values based on the mean square distance of Y axis for the same plots. E.g. pA^2 for I/V or V/t plots.

For comparing plots with different scales. I've considered constraints in the GA and PSO implementations in cwFitter. For example if there is an experiment which has a G/Gmax / V (instead of I/V) and a VClamp, then considering 1e-4 as minimum acceptable of mean squar

[2015-08-03 16:19] #52 closed

[2015-08-03 16:20] VahidGh commented on #69
Commented under #52, #43.

[2015-08-03 16:20] #69 closed

[2015-08-03 16:28] VahidGh commented on #67
@travs, @miladjafary tells me is working on this issue, which is also related to the integration of cwFitter with UI.
And @MichaelCurrie tells he is also interested in working on some ML. We will probably go to start do some work related to [this milestone](https://github.com/openworm/ChannelWorm/milestones/Modeling%20ion%20channels%20with%20no%20patch%20clamp%20data), this week.

[2015-08-04 02:31] travs opened #141 "Remove expectedFailure decorator from adapter test"
[Here](https://github.com/openworm/ChannelWorm/blob/be30fb11be7aef72693c07fcabdcddcc9601edac/channelworm/ion_channel/tests.py#L200).

Depends on https://github.com/openworm/PyOpenWorm/issues/211 being fixed first.

[2015-08-04 02:31] travs commented on #133
The Adapter is complete, but the test that checks it's OK is an [expected failure right now](https://github.com/openworm/ChannelWorm/issues/141)

[2015-08-04 02:31] #133 closed

[2015-08-04 02:34] travs commented on #58
This was apparently a duplicate of #133
Please refer there for further discussion on this.

[2015-08-04 02:34] #58 closed

[2015-08-04 09:22] VahidGh commented on #46
OK, I found an easier way to deal with this issue:

1) As for calibrating axes, instead of using a ruler, or editing the original image, etc we can just put the mouse pointer on the end of the horizontal/vertical bar, keep the pixel coordinate (under the zooming panel) in mind, and subtracting this from the value of the beginning of the bar. Then choosing the first point of the axis in the plot, a

[2015-08-04 09:22] #46 closed

[2015-08-04 09:50] VahidGh commented on #98
#46 is relevant to this.

[2015-08-04 16:48] travs commented on #135
Trying this over in [this branch](https://github.com/openworm/ChannelWorm/tree/pytest)

[2015-08-04 16:58] travs commented on #135
Ok, looks like we can merge that into `dev` and close this one.

[2015-08-04 16:58] #135 closed

[2015-08-04 19:58] travs commented on #136
Closed by
https://github.com/openworm/ChannelWorm/commit/caaca7368d86b4362a84c3a97e7096b5fbd85eac

[2015-08-04 19:58] #136 closed

[2015-08-04 19:59] travs commented on #136
Closed by
https://github.com/openworm/ChannelWorm/commit/caaca7368d86b4362a84c3a97e7096b5fbd85eac

[2015-08-04 20:12] travs opened #143 "Add coveralls badge"
This will give us a sense of where we are in terms of general (non-SciUnit) testing in ChannelWorm

[2015-08-04 22:29] gsarma opened #144 "Decide on functions which need performance tests"
With @travs:

It seems that the work @cheelee @kevcmk are doing on tracking performance regressions in the PyOpenWorm testing suite itself could be used for tracking specific functions.  We should decide on which functions need to have their performance tracked.

[2015-08-04 22:31] gsarma opened #145 "Adapt suite for catching performance regressions in the testing suite from PyOpenWorm"
With @travs:

This is being worked on by @cheelee and @kevcmk in PyOpenWorm.  We should have the same functionality for ChannelWorm.

[2015-08-04 22:33] gsarma opened #146 "Create tests for verifying proper database behavior"
With @travs:
- Can we create new entries?
- Can we retrieve entires?
- Can we update entires?
- Can we delete entries?

[2015-08-04 22:35] gsarma opened #147 "Verify that the database does not have duplicate items"
With @travs:

There should be a PyOpenWorm test for something along these lines that might be worth looking at.

[2015-08-04 22:36] gsarma opened #148 "Check that views load"
With @travs:

Possibly use Selenium so that these tests will run under PyTest?

[2015-08-04 22:40] gsarma opened #149 "Can we have a test that simulates a dummy curation run?"
With @travs:

This would basically perform all of the tasks a human would when entering data.  Not quite sure how a test like this would operate.

[2015-08-04 22:43] gsarma opened #150 "Create test to check that each type of data object can be created"
With @travs:

This is somewhat distinct from the generic database tests that check that new entries can be created.  Here, we need to check that every model type can be created.

[2015-08-04 22:44] gsarma opened #151 "Create test to check that all DOI's in ChannelWorm are valid"

[2015-08-04 22:44] gsarma opened #152 "Create test to check that all PMID's in ChannelWorm are valid"

[2015-08-04 22:46] gsarma opened #153 "Fix bug which is causing notebook_test to fail"
With @travs:

Once fixed, remove the skip decorator.

[2015-08-05 03:25] cheelee commented on #144
@gsarma Does the testing structure at ChannelWorm follow that of PyOpenWorm? If so, I believe it shouldn't be too big of a stretch to replicate that to ChannelWorm.

And as we do this, we ought to be able to find common patterns that would allow us to abstract the entire testing and regression framework so it becomes a modularized component suitable for most if not all of OpenWorm sub-projects usi

[2015-08-05 03:27] cheelee commented on #145
Argh, left a comment on the other issue #144 prematurely! We should definitely replicate the infrastructure over to ChannelWorm, and then find common idioms.

[2015-08-05 19:17] #71 closed

[2015-08-05 19:17] travs commented on #73
Since cutting these figures out of the papers is implicit in the digitization process, I think we can actually close this and take the discussion over to #74

[2015-08-05 19:17] #73 closed

[2015-08-05 20:44] travs commented on #144
@cheelee I like the idea of modularizing the performance regression suite. The structure here is very similar to that in PyOpenWorm, but there are way less tests since we're just starting to write them now.
We are using `pytest` here, so we should be able to adapt what you guys are doing in PyOW when it's complete!

[2015-08-05 20:48] travs commented on #145
@cheelee Hahah, and I [responded](https://github.com/openworm/ChannelWorm/issues/144#issuecomment-128142398) the same way. lol

[2015-08-06 14:18] pgleeson commented on #113
I've tidied up the https://github.com/OpenSourceBrain/BlueBrainProjectShowcase project a bit to use pyNeuroML & added some more of the channels [converted to NeuroML2](https://github.com/OpenSourceBrain/BlueBrainProjectShowcase/tree/master/Channelpedia/test). **Note: these haven't been verified against the behaviour shown on Channelpedia for these channel models**

[2015-08-06 16:45] VahidGh commented on #113
@pgleeson, Thanks, going to see if I can extract meaningful values (such as tau, V_half, etc) from these models.

[2015-08-06 17:14] VahidGh commented on #112
Because some of the WormBase REST APIs are broken, such as those for [proteins](http://api.wormbase.org/rest/field/protein/WP:CE33017/corresponding_gene) according to [this doc](https://www.wormbase.org/about/userguide/for_developers/API-REST/Protein#0--10), going to use alternative tools for retrieving required info (such as mining WB web pages, or `BioPython` package + `Entrez` search utilities)

[2015-08-06 17:41] travs commented on #67
Ok excellent.
@miladjafary: can you tell us the status of this one?
Is there anything I can do to help?

[2015-08-06 17:44] travs commented on #68
@VahidGh:
Have we done this already? I want to catch up on the optimization progress at the hackathon or earlier.
If there's anything you can point to in terms of completion for this issue let me know!

[2015-08-06 17:51] travs commented on #40
Any additional thoughts on what the next action(s) should be on this one?

[2015-08-06 17:58] travs commented on #27
Going to close this one since it's really two separate issues (validation test templates for ion channel models (1) with and (2) without patch clamp data), and link to this issue from the related issues that I will raise.

[2015-08-06 17:58] #27 closed

[2015-08-06 17:59] travs opened #154 "Test validation test template"
Right now we have a skipped test for the validation template for models with patch clamp data.

This is just a test that we can run the iPython notebook @rgerkin made, so it shouldn't be too hard to get passing again.

[2015-08-06 18:02] travs opened #155 "Validate channel models made with non-patch-clamp data"
This is in contrast to #154, which deals with models made _with_ patch-clamp data, and is related to #27.

[2015-08-06 18:18] travs commented on #74
@stripathy Would you mind if I assigned this one to you? We can work on curating these in parallel as well.

[2015-08-06 18:20] slarson commented on #10
@VahidGh Have you looked at Textpresso?  I wonder if there is something in there we could reuse?

[2015-08-06 18:24] travs commented on #44
@miladjafary @VahidGh Do we still think we should do this? And how should we store these plots, now that the backends for CW and PyOW are distinct?

[2015-08-06 18:51] stripathy commented on #74
@travs that's fine with me!

[2015-08-06 19:54] VahidGh commented on #10
@slarson, that's cool, especially has a separate section for C. elegans.

[2015-08-06 19:58] VahidGh commented on #44
Now we are keeping each plot/graph in DB, and could be retrieved as array (take a look at [this](https://github.com/openworm/ChannelWorm/blob/master/channelworm/ion_channel/models.py#L215), But I'm not sure if we need to keep them in PyOW DB!

[2015-08-06 20:05] VahidGh commented on #68
I think #96, and #138 are pre-requisites for resolving this issue.

[2015-08-07 13:52] VahidGh commented on #138
@travs, As discussed [here](https://github.com/openworm/muscle_model/issues/49), some of these parameters are cell properties (such as membrane capacitance, area, channel densities, etc). For example, experiment x claims the membrane capacitance for cell y is z. Then we can query PyOW to find those values and use for tests, models, etc. This is the same case for cell types, etc that we need when b

[2015-08-07 14:54] travs commented on #44
@VahidGh Ok that function looks awesome!

Maybe the export function (#92) can push this data out as well? I will be working on that function today, so if you're around on gitter we can have a chat about it!

[2015-08-07 15:08] travs commented on #138
@VahidGh Ok, how do you think this could be accomplished? Should I build some function for importing this data from PyOpenWorm, or do you think the PyOpenWorm API will be good enough for this as it is?

Also, as for use case, will we be pulling in the data and storing it in CW as well, or will it be pulled dynamically as we are running tests/models/other things?

[2015-08-07 15:14] VahidGh commented on #44
Sounds good, but still I'm not sure if PyOW aims to keep such data!

[2015-08-07 15:18] VahidGh commented on #138
I don't know if PyOW have data models for storing properties of cells. We need to have this one at the first place. Then we can use PyOW API within the CW (or any other project) to read such data.

[2015-08-07 15:39] travs commented on #138
@VahidGh You're right, that will definitely need to be in place in pyopenworm before this is possible.

[2015-08-07 17:02] travs commented on #92
Starting this today

[2015-08-07 17:29] VahidGh commented on #138
Also, another useful parameter for each cell is the area of the cell. If we had this, we could also calculate the membrane capacitance from this value (by multiplying the area by specific capacitance (0.01 F/m2)). Do we have such data in the PyOW?

[2015-08-07 19:52] travs commented on #138
@VahidGh No :( But it is something we can add a field for!

[2015-08-09 08:09] VahidGh commented on #112
Done, using [this script](https://github.com/openworm/ChannelWorm/blob/dev/channelworm/predictor/protein_data.py).
Also some other channels get updated.

[2015-08-09 08:09] #112 closed

[2015-08-09 08:28] VahidGh commented on #51
Done. now it is possible to keep both parameters and NeuroML files.
In order to get parameter storage done, we need to finish #63.

[2015-08-09 08:28] #51 closed

[2015-08-09 09:13] #140 closed

[2015-08-09 17:49] cheelee commented on #146
Go ahead and assign this to me please. I think I can do this over the next few days.

[2015-08-10 05:31] rgerkin commented on #40
@travs Maybe: all tests should be written using NEO objects when possible, and using Elephant analysis methods when possible.  So, for example, instead of just handling a unitless numpy array of value for the membrane potential or the current, we use (in the test notebooks) NEO AnalogSignal objects, which have units, durations, start times, etc.  I will work on this next time I edit one of the tes

[2015-08-10 13:06] pgleeson commented on #113
Ok @VahidGh, but please consider the files in the [test folder](https://github.com/OpenSourceBrain/BlueBrainProjectShowcase/tree/master/Channelpedia/test) as unverified.

[2015-08-10 19:06] VahidGh commented on #113
@pgleeson, OK, thanks. Do you have any suggestion for any verification step I can take?

I did some basic verification tests today. For example, this is the result for the kinetics of the Kfast channel of Rat from [a Channelpedia model](http://channelpedia.epfl.ch/ionchannels/188) which is similar to Kfast (SHL-1) channel being used in the Boyle&Cohen model for C. elegans:

![image](https://cloud.

[2015-08-10 20:07] rgerkin commented on #113
@VahidGh The channelpedia figures do not exist in a digitized form, do they?  If not, perhaps just show side-by-side comparisons (m vs m, h vs h) in notebook subplots (loading the channelpedia figure into one subplot, and plotting the channel analysis in the other), and then give each comparison a qualitative score from 1-5.  The total verification level can be an average of the scores for each ch

[2015-08-10 21:14] VahidGh commented on #113
@rgerkin, Right, plots from Channelpedia do not exist in a digitized form. So, I also need to separate final results (m and h) of the channel analysis script, due to the scaling issues.

[2015-08-11 13:56] travs opened #158 "Document how to plot multiple series on one plot"
It's not clear to me how to plot two or more series for a single plot, such as this [one](http://channelwormdjango-channelworm.rhcloud.com/media/ion_channel/graph/2015/08/09/Screen_Shot_2015-08-09_at_10.01.35_AM.png)

This was raised by @stripathy at the hackathon.

@VahidGh @miladjafary Any tips?

Also, we should document this for future use.

[2015-08-11 14:08] travs commented on #158
Related to #98

[2015-08-11 14:18] rgerkin commented on #158
@travs For context, what plotting environment are we talking about?

Also, perhaps unrelated, but @VahidGh may need to separate multiple series plotted on the same graph using pyNeuroML, each corresponding to gating variables, and replot them on separate graphs to compare to gate plots for channelpedia.

[2015-08-11 14:22] travs commented on #158
@rgerkin Good point. I'm talking about the digitization section of the channelworm web app. Namely, how to create separate datasets for one figure.

[2015-08-11 15:01] VahidGh commented on #158
@travs, I'm referring to https://github.com/openworm/ChannelWorm/issues/46#issuecomment-127539388, as I described the process I did for 1-2 channels.

For more clarification -- We have an option called `Manage Datasets`, which is available when `Calibrate Axes` is done. With this option we can have separate digitized series for each trace.
![image](https://cloud.githubusercontent.com/assets/665510

[2015-08-11 15:10] travs commented on #158
@VahidGh Ok excellent. I wasn't aware of the manage datasets option; thanks for pointing that out.

I'll write up a bit more documentation for this as I go through digitizing some figures today.

Do you have any recommendations for where to place points on these figures with no included data points? How many/where to put them?

[2015-08-11 15:12] travs commented on #72
Just did two more plots on 11 [here](http://channelwormdjango-channelworm.rhcloud.com/ion_channel/graph/), so this one's done now.

[2015-08-11 15:12] #72 closed

[2015-08-11 15:13] travs commented on #8
Just closed the remaining issues on this one, so as mentioned in the previous comment, I'm closing it now.

[2015-08-11 15:18] travs opened #159 "Add field for curator's comments in digitization section"
Maybe we could add this to all sections, but it seems like a place for unstructured comments about the data or difficulties in the digitization process might be helpful.

[2015-08-11 15:30] VahidGh commented on #158
@travs, great. As for the points, should at least cover the whole trace, considering it has started from some baseline, then for example we have a curve that should be simulated via points, then some points for the steady state current, and then again where the clamped voltage stops (the vertical line (if there is), and then again the baseline.

Other adjustments would be required during the fitti

[2015-08-11 15:36] VahidGh commented on #8
@travs, I think it is done when the above-mentioned channels and related papers are digitized and available through the app for further fittings/modeling.

[2015-08-11 15:51] VahidGh commented on #159
This is considered for the experiment, and as the whole curation process is available through one page, we can use the same field, for any related comment.

The thing we need is to be able to view/edit the curation for each experiment/channel the same as the creation process. @miladjafary

[2015-08-11 17:39] travs commented on #158
Ok, I guess I was thinking there was some number we could use, but I'll just go with whatever seems to cover the curve visually.

[2015-08-11 17:46] travs commented on #8
@VahidGh Sure, we'll leave it open then. May help to have a checklist so we can see how far we are with this, and can know when to close it.

[2015-08-11 20:57] travs opened #161 ""Save" button should save all datasets"
I digitized a few plots today and assumed that clicking "save" when I was done each figure was saving all of the datasets, when in fact it only saved the last one. I realized this too late, and lost a lot of that work.

The save button is kind of hidden (you have to click "view data" first), and must be clicked for every dataset, which is easy to forget when there are 5 or 6 datasets to deal with.

[2015-08-13 14:49] #92 closed

[2015-08-13 14:49] #98 closed

[2015-08-13 14:49] #158 closed

[2015-08-13 18:10] travs commented on #44
@VahidGh
Ok, the Export function is now complete, except for plot data. I can understand the concern about not wanting to replicate too much data in PyOpenWorm, and I agree that we should only pull the necessary data from CW.

If we're ultimately going to use PyOW as the backend to the model completion dashboard, however, we will need some way to show plots on the webpage. We *could* do this by do

[2015-08-13 18:22] travs opened #162 "Link to ChannelWorm docs from channelworm web app"
@miladjafary @VahidGh Maybe linking to the walkthrough?

[2015-08-13 20:28] rgerkin commented on #96
@VahidGh @travs @pgleeson
So I think the multiplicative offset is arbitrary unless we think we know the single channel conductance of the channel.  Any patch recorded from the real cell will have a capacitance proportional to the patch area, and a current proportional to that area and to the areal density of channels on that patch.  The capacitance normalization is just a proxy for areal normaliza

[2015-08-13 20:44] VahidGh commented on #162
@travs, that would be very nice.
Would you please excerpt some part of the documentation and links, for putting in the home page?
Then we can work on some sketch to bring up the home page, regarding #77.

[2015-08-13 20:54] VahidGh commented on #44
@travs, I think it's not going to take much place in a DB, as it is right now.
Maybe we can keep it just in the ChannelWorm branch, and push it to the master, when we need to.

[2015-08-14 12:32] VahidGh commented on #96
@rgerkin, assuming this would be happening for conductance, then we would have the same problem with E_rev, which is also a property of the cell membrane again (as described in NeuroML cell definitions).

In The the Boyle&Cohen model, in table A.1, there is a reported section for conductance, e_rev, and C_m, the model has generated near the same values, and then compares it with experimental repor

[2015-08-14 14:41] rgerkin commented on #96
@VahidGh E_rev is intrinsic to a patch of cell membrane (i.e. independent of patch size) and can be computed directly in an experiment with a large page.  Total Conductance is extrinsic (scales with patch size) and will be unique to each experiment.  So with E_rev there is nothing further to do to get the value that has not already been done in the original experiment.  But single channel conducta

[2015-08-14 17:43] VahidGh commented on #96
@rgerkin, I think we need to separate tests, to at least two different tests: one for channel gating (e.g. m/v, tau/v, h/v, etc.), which is independent of the cell, and one for macroscopic current (e.g. I/V, I/t, etc.) which depends on the cell and experiment.
For the latter, I think by having dense conductance (e.g. S/m2, or S/F) for each experiment and recalculating that for a simulation environ

[2015-08-15 22:48] rgerkin commented on #96
@VahidGh Of course E_rev is just as important as single channel conductance.  But one is trivial to compute in a patch clamp experiment and the other requires a sufficiently small patch size or sufficiently low channel density, or non-stationary fluctuation analysis (which @pgleeson's boss has done many times).

For the purposes for our model, if we don't care about the small channel density regim

[2015-08-16 14:37] VahidGh commented on #96
@rgerkin, agreed, maybe considering two other steps in a validation test, makes it more clear and robust. One, comparing parameters used in the simulation environment for the test, with those used by the model. And two, validating the model by using it with/within other models.

[2015-08-18 21:22] travs commented on #131
Duplicate of #151 and #152

[2015-08-18 21:22] #131 closed

[2015-08-18 21:22] travs commented on #151
Refer to #131 for description/links

[2015-08-18 21:22] travs commented on #152
Refer to #131 for description/links

[2015-08-18 22:08] travs commented on #154
@rgerkin Trying to run the ipy notebook and getting an [error with neuronunit](https://gist.github.com/anonymous/bcdba104bea7491cd89b). Looks like some assertion in [this method](https://github.com/scidash/neuronunit/blob/4ce87f9a0ff89f628916f5ebac1c3d247ced522f/neuronunit/tests/channel.py#L20-L24) is failing. I'm assuming this means the observation is not valid? It's not clear why this ran before

[2015-08-19 04:44] rgerkin commented on #154
@travs The data being passed to it used to be a list and is now a tuple.  I was previously only accepting lists and np arrays.  I added tuples so the rgerkin fork should work now but wait until the tests run and I'll give you a pip upgrade path.

[2015-08-19 04:46] travs commented on #154
Ok awesome! Thanks for checking this out Rick

[2015-08-19 07:54] rgerkin commented on #154
@travs Try upgrading neuronunit via pip and run the notebook again.

[2015-08-19 17:09] travs opened #163 "Sort dropdowns reverse-chronologically"
suggestion from @stripathy:

When adding figures, it would be easier to have the newest experiment entry at the top of the dropdown, since this is most likely to be the experiment that this figure comes from.

Should be easy to sort by this instead of pk

[2015-08-19 17:11] travs opened #164 "Option to select multiple ion channels for one figure entry"
Suggestion from @stripathy:

Some plots like the one below have multiple lines representing multiple ion channels. Rather than creating separate figure entries for these, would be convenient to have multiple ion channel keys for one figure.

![](http://channelwormdjango-channelworm.rhcloud.com/media/ion_channel/graph/2015/07/08/Screen_Shot_2015-07-08_at_6.09.54_PM_BVskqbP.png)

[2015-08-19 17:14] stripathy opened #165 "Why are there two initial holding potentials in patch clamp experiment list?"
<img width="533" alt="screen shot 2015-08-19 at 10 13 18 am" src="https://cloud.githubusercontent.com/assets/2458713/9363391/00f08ab0-465b-11e5-88f2-d6e0133b46de.png">

[2015-08-19 17:30] stripathy opened #166 "Expose who added info on different pages"
Like Figures, Experiments, etc.

[2015-08-19 17:38] VahidGh commented on #165
@stripathy, The second one meant to be `the holding potential`, and the first one `the initial step`.
Will change the verbose names in the model.

[2015-08-19 17:48] VahidGh commented on #166
@stripathy, I guess this would be resolved when the integration of the experiment view, get completed. I mean when everything related to an experiment got integrated into one page (as same as what we have for the create experiment page, now), then all the related objects will be created under the same name.

Also the data history issue (#134) will cover further updates to each experiment (and rela

[2015-08-20 16:56] #74 closed

[2015-08-21 00:53] travs commented on #154
@rgerkin Ok, tl;dr, this is a long comment about my install troubles, since python's packaging/install system is a mess. Does the notebook work for you in the end? If so, could you do a quick `pip list` and see if I'm missing something locally?

[My `pip list`](https://gist.github.com/anonymous/332a298a34a6ef49fe5f)

**begin**
When installing from a `git+https://package`, I could never get the dep

[2015-08-21 16:20] rgerkin commented on #154
@travs
I think the dependency links are working correctly at least on Travis-CI because it is installing the right versions there, but maybe there is something else going on when you try to install a different way.

But the error you are getting is not elephant or neuronunit related.  It is what you get when the NeuroML doc doesn't load correctly, or when libNeuroML is the wrong version.  Let me r

[2015-08-21 21:54] travs commented on #154
@rgerkin Ok, thank you Rick :smile:
The issue with dependency links won't show up directly in Neuronunit, but rather when installing neuronunit via `pip install git+https://...`. One way around this would be for CW to install neuronunit by cloning the git repo and installing locally with `python setup.py install`.

I can take care of the installation issues for sure, as long as I can get the noteb

[2015-08-21 22:00] rgerkin commented on #154
@travs
I switched my setup.py script from distutils to setuptools recently, precisely so that the dependency links would be honored on setup.py install.  But maybe that keeps them from being honored in pip install?

[2015-08-21 22:30] travs commented on #154
@rgerkin Ahh, that may be the issue for installation.

[2015-08-21 23:15] rgerkin commented on #154
OK, I got everything working on a blank Ubuntu VM (the default Ubuntu selection in Amazon EC2).  [Here](https://gist.github.com/rgerkin/6e3cedc39c6ce3c212f8) is what was required.

However, none of that really has anything to do with the source of the error.  It was actually several changes in ChannelWorm that were responsible, so I updated IVCurve_model.py in cbbc343 to account for those.

First,

[2015-08-22 03:37] travs commented on #154
Ok, thanks for that Rick. :smile:

We should probably have another discussion about keeping the [notebook](https://github.com/openworm/ChannelWorm/blob/aedbf9c3730d878df5a1c4964f3aa9a3331c87c1/tests/SCU_IVCurve_Model.ipynb) and [script](https://github.com/openworm/ChannelWorm/blob/aedbf9c3730d878df5a1c4964f3aa9a3331c87c1/tests/IVCurve_Model.py) in sync as well, since there are a few steps required

[2015-08-23 17:02] travs opened #169 "Sync up RTD with new ChannelWorm repo location"
Seems like [the docs](http://channelworm.readthedocs.org/) are not syncing up anymore, probably because of the URL change recently.
Specifically, [this page](https://github.com/openworm/ChannelWorm/blob/dev/docs/walkthrough.md) is not showing up. Should be a simple config fix on rtd.

[2015-08-24 14:54] pgleeson commented on #96
@VahidGh @rgerkin I've added a script https://github.com/openworm/muscle_model/blob/master/NeuroML2/ivcurve_ca_boyle.sh which generates a better iv curve for ca from the NML model;

![selection_244](https://cloud.githubusercontent.com/assets/1556687/9442824/c081cc9a-4a75-11e5-825b-83f67aa57508.png)

Left is [Python version](https://github.com/openworm/muscle_model/blob/master/BoyleCohen2008/Python

[2015-08-24 15:00] rgerkin commented on #96
@pgleeson @VahidGh OK I'll start there, and it sounds like applying a pre-scaling factor to minimize the difference between model and experiment is the way to go.  The algorithm for that should be similar to the one in this [old friend](http://www.ncbi.nlm.nih.gov/pubmed/9199786) that I have implemented before.

[2015-08-24 15:05] pgleeson commented on #138
This seems to be a potential case again of blurring the lines between asking PyOpenWorm for experimental data and model specific data.

Certainly something like surface area could be stored in PyOpenWorm, if it was made clear that these values were based on the Blender reconstructions, and even total capacitance if there was an experimental figure for this.

However, channel densities and even spe

[2015-08-25 00:12] rgerkin commented on #154
@travs I think the script should never be edited manually.  It should only be produced via `nbconvert` from the notebook.  In fact, this will also tell us if the notebook is likely to work from a vanilla installation.

[2015-08-25 07:56] pgleeson commented on #154
@rgerkin @travs, the parameters used in [this script](https://github.com/openworm/muscle_model/blob/master/NeuroML2/ivcurve_ca_boyle.sh) should probably be used for generating the iv curve from the nml file. See also https://github.com/openworm/ChannelWorm/issues/96#issuecomment-134233138

[2015-08-26 09:18] VahidGh commented on #138
@pgleeson, thanks for the clarification. One problem I encountered experimentally was the estimation of some of these parameters during optimization and modeling. I know some of these parameters are not the same under different conditions, but having some estimation, would help better constraining and validating results.

Specifically, membrane capacitance/surface area for each cell, and e_rev, an

[2015-08-31 03:09] gsarma opened #170 "Cav1_LType_EGL-19"
Paper:  [Jospin et al.](https://docs.google.com/file/d/0B4qffTA1q81rdXZnaUxGcmlmMlU/edit)

| Figure | Plot Type | Comments |
| --- | --- | --- |
| 2B | Plot: I/V |  |

[2015-08-31 03:12] gsarma opened #171 "Cav2_RNPQType_UNC-2"
Paper: [Mathews et al.](https://docs.google.com/file/d/0B4qffTA1q81rX01Pa3N0QkxBbEU/edit)

| Figure | Plot Type | Comments |
| --- | --- | --- |
| 5A (Dashed line only) | I/V | Decided not to enter this yet since it is from the rat. |
| 5B (WT; left side only) | I/t | Decided not to enter this yet since it is from the rat. |

[2015-08-31 03:14] gsarma opened #172 "Kv1_Shaker_SHK-1"
Paper: [Fawcett et al. 2006](https://drive.google.com/file/d/0B4qffTA1q81rTjEtWkVXaGwtQ0k/view)

| Figure | Plot Type | Metadata Entered | Digitized | Comments |
| --- | --- | --- | --- | --- |
| 2C left | I/V | ✓ | ✓ |  |
| 2C right | I/V | ✓ | ✓ |  |
| 2A left | I/t | ✓ | ✓ |  |
| 2A right | I/t |  |  | metadata not entered, shows data from myocyte |
| 2B left | I/t | ✓ | ✓ |  |
| 2B right | I/t

[2015-08-31 03:22] gsarma opened #173 "Kv1_Shaker_SHK-1 (2)"
Paper: [Liu et al. 2011](https://drive.google.com/file/d/0B4qffTA1q81rTEE1SXBPOXBXXzQ/edit)

| Figure | Plot Type | Metadata Entered | Digitized | Comments |
| --- | --- | --- | --- | --- |
| 1E | left | I/t |  | deciding not to digitize/enter metadata, too small of a plot and low resolution |
| 1E | right | I/V |  |  |
| 7B | I/V | ✓ | ✓ |  |
| 7A | I/t | ✓ | ✓ |  |
| 1B | I/V | ✓ | ✓ |  |

[2015-08-31 03:24] gsarma opened #174 "Kv1_Shaker_SHK-1 (3)"
Paper: [Liu et al. 2014](https://drive.google.com/file/d/0B4qffTA1q81rZjQwVTdxdlI0MkU/view)

| Figure | Plot Type | Metadata Entered | Digitized | Comments |
| --- | --- | --- | --- | --- |
| 1B | I/V | ✓ | ✓ |  |
| 5B | I/V |  |  |  |
| 6A left | I/t |  |  | Looks too dense to digitize |
| 6A right | I/V |  |  |  |
| 7 left | I/t |  |  | Looks too dense to digitize |
| 7 right | I/V |  |  |  |

[2015-08-31 03:32] gsarma opened #175 "Kv1_Shaker_SHK-1 (4)"
Paper: [Santi et al. 2003](https://drive.google.com/file/d/0B4qffTA1q81rd1VmVWZ1N0FpWW8/edit)

| Figure | Plot Type | Metadata Entered | Digitized | Comments |
| --- | --- | --- | --- | --- |
| 1A | I/t | ✓ | ✓ |  |
| 1C | (G/Gmax)/t | ✓ |  |  |
| 1D | I/V | ✓ |  |  |
| 2A | I/t |  |  | Lines seem very densely packed |
| 2B | I/V | ✓ |  |  |
| 3A iii | I/t | ✓ | ✓ |  |
| 3A iv | I/V | ✓ |  |  |
|

[2015-08-31 03:36] gsarma opened #176 "Kv2_Shab_EXP-2"
Paper: [Davis et al. 1999](https://drive.google.com/file/d/0B4qffTA1q81rbjd4QS1CbHltZEk/view)

| Figure | Plot Type | Comments |
| --- | --- | --- |
| 3A,3B,3C | I/t |  |
| 3D | G/V |  |

[2015-08-31 03:38] gsarma opened #177 "Kv2_Shab_EXP-2 (2)"
Paper: [Shtonda et al 2005](https://drive.google.com/file/d/0B4qffTA1q81remJzZWtoWlFWY0U/edit)

| Figure | Plot Type | Comments |
| --- | --- | --- |
| 2A top | V/t |  |
| 2A middle | I/t |  |
| 2B top | V/t |  |
| 2B middle | I/t |  |
| 2C |  |  |
| 3A | I/V |  |
| 4B | I/t |  |
| 4C | I/V |  |
| 5A top | V/t |  |
| 5A middle | I/t |  |
| 5B | I/V |  |

[2015-08-31 03:39] gsarma opened #178 "Kv3_Shaw_EGL-36"
Paper: [Elkes et al 1997](https://drive.google.com/file/d/0B4qffTA1q81reGo4Y3FuaTgxblk/view)

| Figure | Plot Type | Comments |
| --- | --- | --- |
| 4A | I/t |  |
| 4B | I/t |  |
| 5D | I/V |  |

[2015-09-02 03:48] rgerkin opened #179 "Two ways to get load experiment data: which is best?"
@VahidGh
Both of these work:

[code]
and

[code]

Which of these is correct going forward?

[2015-09-02 03:54] rgerkin opened #180 "Units in loaded experimental data"
Units are not always consistent in loaded experimental data.  For example, in #179 one way loads the data in mV and the other loads it in V.  Since `ion_channel.models.Graph` has a field for units, we should write a wrapper function around `ion_channel.Graph.objects.get` that automatically applies units using the python `quantities` module.  Then we won't have to check manually retrieve and apply

[2015-09-02 05:52] VahidGh commented on #179
@rgerkin, The second one is also going to be replaced with the first method, when the UI integration issue get completed. So, I suggest using the first method.

[2015-09-02 06:06] VahidGh commented on #180
The `quantities` package is cool. I was looking for something like this before. I found some built-in package in python (which I don't remember the name, right now!), that supports the main units and conversions like meter, grams, etc and needed to define customized units.
This package seems to be more flexible, thanks.

[2015-09-03 20:54] rgerkin commented on #180
OK, I am going to push a quantities-friendly implementation of a GraphData method, and an updated version of the test notebook, later today.

[2015-09-03 21:25] rgerkin commented on #180
Implemented in bb67f0e with the `asunitedarray` method of `GraphData`.

[2015-09-03 21:25] #180 closed

[2015-09-03 21:27] rgerkin commented on #179
@VahidGh Since the first one is the one to use going forward, I added a `django_setup` convenience method to `channelworm` in 3416ca4 which can be called from any notebook or script, when the Django shell isn't already active, so that these Django data retrieval methods can be used.

[2015-09-03 21:27] #179 closed

[2015-09-03 21:30] rgerkin commented on #153
@gsarma If you want to try this again, I've updated `notebook_test` in 03afb30 to first auto-generate a script from the current IPython notebook (the only thing that needs to be under version control), and then run that script.  I suspect it will fail due to some unanticipated dependency, but it would be good to figure that out.

[2015-09-03 21:34] rgerkin commented on #96
@pgleeson @VahidGh With the use of an arbitrary scaling factor (an arbitrary capacitance; I could have used a surface area but this is basically the same idea) and the python `quantities` package, I have addressed this [here](https://github.com/openworm/ChannelWorm/blob/master/tests/SCU_IVCurve_Model.ipynb).  I am going to handle units with `quantities` going forward, so fudge factors like this sh

[2015-09-04 08:32] VahidGh commented on #179
@rgerkin, Great idea, thanks.

[2015-09-04 09:15] VahidGh commented on #96
@rgerkin, Great, and maybe by using another scaling factor, scales getting better!
But now the question is why the peak current, is shifted ~20 mV, from the original one, and the model generated by @pgleeson?!

[2015-09-13 19:00] VahidGh commented on #113
@rgerkin, @pgleeson, I could do some good predictions using data from VKCDB for parameters like V_half activation and inactivation, but variables like tau were rare in this dataset.

I decided to build a unified dataset of ion channel models and electophysiology data by integrating these with models from channelpedia and Neuroml-db, so will merge duplicates and add data like gene/protein for avail

[2015-09-27 02:37] rgerkin commented on #96
Probably because the model parameters are wrong!  If we trust this data, a next step is to tune the model parameters to achieve a better fit.

[2015-12-20 21:05] #154 closed

[2016-06-05 17:56] rgerkin opened #183 "Unit testing of ion channels: candidate data for building tests"
From the data curated [here](http://channelwormdjango-channelworm.rhcloud.com/ion_channel/graph/), does anyone have any thoughts about which would be the best basis for the next few SciUnit tests?  Considerations are: relevance to the model, orthogonality to previous tests, quality of data, etc.

[2016-06-09 07:14] VahidGh commented on #183
In my opinion the SLO-2 channel would be the best candidate for the next model generation and testing process. This channel has an important role in neuromuscular junctions in C. elegans, so we can start working on modeling channels in motorneurons.
[This paper](http://www.nature.com/ncomms/2014/141010/ncomms6155/full/ncomms6155.html) is a good reference, regarding this issue.

[2016-06-24 02:52] rgerkin commented on #96
@VahidGh @pgleeson I've implemented a scaling factor [here](https://github.com/scidash/neuronunit/commit/2ff9f64fdf26e7bbead4cc13ff865832189ccc02) to produce the closest possible agreement between model and experimental IV curves.  I updated [this](https://github.com/openworm/ChannelWorm/blob/dev/tests/sciunit/EGL-19_IV.ipynb) testing notebook to utilize it.

[2016-06-24 02:52] #96 closed

[2016-06-24 02:55] rgerkin commented on #183
@VahidGh I've added an IV Curve test for the SLO-2 channel [here](https://github.com/openworm/ChannelWorm/blob/dev/tests/sciunit/SLO-2_IV.ipynb), although you can see that the model/data agreement is pretty bad, compared to the EGL-19 channel shown [here]((https://github.com/openworm/ChannelWorm/blob/dev/tests/sciunit/SLO-2_IV.ipynb).  I'm using Fig. 7B from 10.1113/jphysiol.2010.200683 for the da

[2016-06-24 09:44] VahidGh commented on #183
@rgerkin: Regarding scaling, I think considering some common expression system such as `Xenopus Oocytes`, `HEK`, or `CHO` cells would bring a built-in scaling system, automatically.

Fig. 7B from 10.1113/jphysiol.2010.200683, would be great when combining other channels and considering motoneuron cells in c. elegans. I guess it would be better to start with fig. 6a from 10.1038/77670 (or just figu

[2016-06-28 22:14] rgerkin commented on #183
@VahidGh I've added a notebook for SLO-2 [here](https://github.com/openworm/ChannelWorm/blob/dev/tests/sciunit/SLO-2_IV.ipynb).  Things look bad for the model at the moment.  Can you identify any issue in the model I am using in that notebook?

I've addressed scaling by auto-scaling the model output (by a constant) to match the data, since we have not only one but two degrees of freedom we can do

[2016-06-29 16:05] VahidGh commented on #183
@rgerkin, What do you mean by > Things look bad for the model ?
If you mean the `Predicted (model)` curve, I couldn't find the way it is generated by within the notebook!

[2016-07-20 21:49] rgerkin commented on #183
@VahidGh Yes, I mean things look bad for the `Predicted (model)` curve.  The model is being run inside of the `judge` method of the `sciunit.Test` I instantiate in that notebook.  I presume if you run it any other way you will get the same result.  For [EGL-19](https://github.com/openworm/ChannelWorm/blob/dev/tests/sciunit/EGL-19_IV.ipynb) I don't get something so horrific, although even there the

[2016-09-19 16:31] gsarma opened #184 "Run SciUnit tests at specified intervals"
SciUnit tests are fundamentally different than ordinary unit tests, and in particular, the underlying models are unlikely to change as frequently as other code.  Also, if at some point in the future running the tests themselves becomes computationally expensive, this could slow down the build times unnecessarily.

One solution is to have SciUnit tests run at specified intervals, rather than with e

[2016-09-19 16:35] gsarma opened #185 "Store output of SciUnit tests in S3 bucket"
SciUnit tests convey more information than ordinary unit tests.  Ultimately, to have a standalone information dashboard for SciUnit, we would like to have the output of these tests stored in an S3 bucket.

See also:
1) https://github.com/joebowen/model_completion_dashboard
2) http://docs.openworm.org/en/latest/Projects/muscle-neuron-integration/#model-completion-dashboard
3) #184 and #186

@rgerki

[2016-09-19 16:37] gsarma opened #186 "Information Dashboard for SciUnit"
The Travis CI dashboard is unlikely to be sufficient for providing the kind of information we would like about SciUnit tests.  The natural solution would be for SciUnit tests to have their own information dashboard, even if the tests themselves are run by Travis CI.

See also: https://github.com/joebowen/model_completion_dashboard and #184 and #185

@rgerkin @slarson @cheelee

[2016-09-29 15:41] rgerkin commented on #184
@gsarma @cheelee @slarson
I now have the sciunit tests running successfully every time a push is made to the sciunit-travis branch, and creating notebooks summarizing the test with figures (which still need persistent storage as described in #185.  I see two main ways forward:
1) Make the tests only run when the sciunit-travis branch is updated, for example when everything from other branches is p

[2016-09-29 15:47] rgerkin commented on #185
@gsarma @slarson @cheelee
I had originally envisioned using S3 for this, as Travis has very [simple deployment](https://docs.travis-ci.com/user/uploading-artifacts/) of artifacts to S3 buckets.

However, S3 does cost money, and as cheap as it is (the bill will probably be in the ones of dollars total for the first few months) it will go up cumulatively as long as we are adding new testing artifact

[2016-10-02 16:10] gsarma commented on #185
That sounds reasonable to me, and of course, we can shift things to S3 in the future if it seems like the right thing.  As for now, will it be as straightforward as using S3?

Also referencing #144 and #145 as we should also be storing timing information in order to catch performance regressions.

[2016-12-13 17:02] rgerkin commented on #185
Using OpenWorm S3 credentials provided by email.

[2016-12-15 23:19] rgerkin opened #188 "Installing ChannelWorm vs channelworm"
Both the main ChannelWorm directory and the channelworm subdirectory each have setup.py files.  Is a user supposed to install both of them?  It would be more conventional for the content of the channelworm setup.py file to be merged with the content of the ChannelWorm setup.py file and then just let ChannelWorm setup.py handle all installation.

[2016-12-16 07:41] VahidGh commented on #188
The ChannelWorm setup.py already calls setup.py file from channelworm. For
those who just need to work with the Django app, setup.py from channelworm
would be enough.
It's possible to merge them, especially, for the testing procedure case.

On Fri, Dec 16, 2016 at 2:49 AM, Richard C Gerkin <notifications@github.com>
wrote:

[2017-03-14 03:40] mwatts15 commented on #76
Broken link in https://github.com/openworm/ChannelWorm/issues/76#issuecomment-112196136. Think it should be http://docs.openworm.org/en/latest/Projects/muscle-neuron-integration/#model-completion-dashboard now.

[2017-06-11 16:40] slarson opened #189 "Pull request in the command that exports ion channel data for PyOpenWorm"

[2017-08-02 17:26] slarson commented on #189
Update on this.  Let's not wait for the additional data; lets go ahead and put this online even if just in your own personal fork of PyOpenWorm

In order to get this running on my side I will re-run insert_worm.py in the forked version.

@shubhsingh594 just point me at the repo and branch that has this change when ready.

[2018-01-23 17:54] rgerkin commented on #186
The dashboard being developed by MetaCell for SciUnit/NeuronUnit is likely to get us 90% of the way there (and will require a few OpenWorm-specific changes to make it useful here).

[2018-04-18 17:51] gsarma commented on #10
Google notifications will probably give us decent mileage.  Would be a nice simple project also for a newcomer to write a script to periodically search the Textpresso _C. elegans_ section.

[2018-04-18 18:26] gsarma commented on #184
Just wanted to circle back to this, particularly since [this exact issue](https://f1000research.com/articles/5-1946/v1) was raised by one of our reviewers on the testing paper.

My inclination is that option (1) may be the way to go because running these tests every time the main branch is updated is probably too computationally expensive.  If I'm understanding it correctly, it also requires devel

[2018-04-18 18:26] gsarma commented on #185
What is the status of this?

[2018-04-18 18:46] gsarma opened #191 "Clarify relationship between PyOpenWorm and ChannelWorm in Documentation"
For newcomers, and even people who have some experience with the project, it's not entirely clear what the relationship is between PyOpenWorm and ChannelWorm.  I realize that this is largely historical and pragmatic at this point, but we really need to make it clear exactly what's going on here.  If anyone has thoughts about this, please message me.

openworm/PyOpenWorm#338

[2018-04-19 02:45] gsarma commented on #186
@rgerkin is this visible somewhere online?

[2018-04-19 03:40] gsarma commented on #178
@VahidGh @rgerkin are these curation tasks still up to date?  These issues haven't been touched in almost 3 years.  I can go ahead and finish them off myself in the next few weeks if you can let me know what I should do with the digitized data.

[2018-05-02 18:23] gsarma opened #193 "Django is Down"
http://channelwormdjango-channelworm.rhcloud.com

[2018-05-02 18:24] gsarma commented on #191
#192

[2018-05-03 15:08] #184 closed

[2018-05-03 15:08] #185 closed

[2018-05-03 15:09] gsarma commented on #186
I'm closing #184 - #186 because it seems like these should probably be moved to the tests repo.

[2018-05-08 13:15] gsarma opened #194 "Chopen does not remember view options when navigating through entries"
1) Go to Chopen Ion Channels
2) Sort the entries by one of the columns, for example, "Animal"
3) Click on "View Details"
4) Go back in your browser

The data will now be unsorted.  This is makes things extremely inefficient when you need to systematically navigate through a series of entries, for example, all ion channels that are from C. elegans, etc.

[2018-05-08 13:21] gsarma opened #195 "SLO-1a_CAEEL"
https://chopen.herokuapp.com/ion_channel/ion_channels/detail/130

Data needs digitizing

[2018-05-08 13:22] gsarma opened #196 "SLO-2b_CAEEL"
https://chopen.herokuapp.com/ion_channel/ion_channels/detail/135

Data needs digitizing

[2018-05-08 13:24] gsarma opened #197 "SLO-2c_CAEEL"
https://chopen.herokuapp.com/ion_channel/ion_channels/detail/136

Data needs digitizing

[2018-06-15 16:45] gsarma opened #199 "Generate LaTeX from NML Files"
I'd like to be able to see exactly what equations are being simulated for the ion channel models.  This will ultimately prove helpful in debugging simulation output and generally navigating the simulation.

One way to accomplish this would be to produce LaTeX output from NML files.  Should be straightforward to do once we've curated all of the models for each ion channel.

[2018-06-15 16:50] gsarma commented on #191
Can revisit at a later date.

[2018-06-15 16:50] #191 closed

[2018-06-26 19:34] #174 closed

[2018-06-26 19:34] #175 closed

[2018-06-26 19:34] #176 closed

[2018-06-26 19:34] #177 closed

[2018-06-26 19:34] #178 closed

[2018-06-26 19:34] #183 closed

[2018-06-26 19:34] #8 closed

[2018-06-26 19:34] #10 closed

[2018-06-26 19:34] #25 closed

[2018-06-26 19:34] #40 closed

[2018-06-26 19:34] #44 closed

[2018-06-26 19:34] #59 closed

[2018-06-26 19:34] #60 closed

[2018-06-26 19:34] #63 closed

[2018-06-26 19:34] #67 closed

[2018-06-26 19:36] #68 closed

[2018-06-26 19:36] #70 closed

[2018-06-26 19:36] #75 closed

[2018-06-26 19:36] #76 closed

[2018-06-26 19:36] #77 closed

[2018-06-26 19:36] #80 closed

[2018-06-26 19:36] #89 closed

[2018-06-26 19:36] #97 closed

[2018-06-26 19:36] #106 closed

[2018-06-26 19:36] #108 closed

[2018-06-26 19:36] #113 closed

[2018-06-26 19:36] #114 closed

[2018-06-26 19:36] #125 closed

[2018-06-26 19:36] #126 closed

[2018-06-26 19:36] #134 closed

[2018-06-26 19:36] #138 closed

[2018-06-26 19:36] #141 closed

[2018-06-26 19:36] #143 closed

[2018-07-12 16:28] gsarma opened #200 "Document CWFitter"
The parameter fitting scripts [CWFitter](https://github.com/openworm/ChannelWorm/tree/master/channelworm/fitter) need to be documented.  I created a new branch called CWFitterDoc that includes Jupyter notebooks for the ion channel scripts that are in the examples folder.  I've started on breaking down the code into more modular pieces and have added in a few scattered comments.  Any help would be

[2018-07-12 16:34] gsarma opened #201 "Investigate ChannelPedia for homologous channels"
Because there are relatively few native _C. elegans_ ion channels that have patch clamp recordings in the literature, many channel models will need to be built from homologs in other species.  To what extent does [ChannelPedia](http://channelpedia.epfl.ch), out of the BlueBrain project, have information on homologous channels relevant for our efforts?

Would be a great beginner project for someone

[2018-07-12 20:59] gsarma opened #202 "Blog posts about ion channels"
Write an informative blog post about any topic of your interest that relates to ion channel modeling.  You could write about the biochemistry and biophysics of ion channels, their role in _C. elegans_ and relationship to channels in other species, mathematics of Hodgkin-Huxley models, etc.  Whatever gets you excited!

[2018-07-12 21:01] gsarma commented on #197
Decided that this particular task doesn't need an issue right now.  We are working on curation tasks as part of the parameter fitting agenda and will probably just tackle this under that umbrella project.

[2018-07-12 21:01] #197 closed

[2018-07-12 21:01] gsarma commented on #196
Decided that this particular task doesn't need an issue right now.  We are working on curation tasks as part of the parameter fitting agenda and will probably just tackle this under that umbrella project.

[2018-07-12 21:01] #196 closed

[2018-07-12 21:01] gsarma commented on #195
Decided that this particular task doesn't need an issue right now.  We are working on curation tasks as part of the parameter fitting agenda and will probably just tackle this under that umbrella project.

[2018-07-12 21:01] #195 closed

[2018-07-12 21:23] gsarma opened #203 "Created Badges for ChannelWorm related tasks"
See https://www.badgelist.com/OpenWorm/ for more information.

@slarson @cheelee

[2018-07-13 18:54] gsarma opened #204 "Extend Channel fields in PyOpenWorm to include URL to NeuroML file"
This is strictly speaking an issue for PyOpenWorm, but is relevant to ChannelWorm.  Basically, since ChannelWorm is the pipeline for generating NML files, and not their ultimate destination, we want to build the necessary capabilities into PyOW.

See the issue over at PyOpenWorm: openworm/pyopenworm#307

@mwatts @slarson @rgerkin

[2018-07-20 00:03] gsarma commented on #193
Probably this is part of a bigger set of issues.

[2018-07-20 00:03] #193 closed

[2018-07-24 22:04] gsarma opened #207 "Annotate and explain current channel models in NML files"
The [models](https://github.com/openworm/ChannelWorm/tree/master/models) folder in ChannelWorm currently has NML files for 4 ion channels.  It might be helpful for newcomers to have the structure of these models carefully spelled out.  For instance, we could make PDFs of the NeuroML source code and annotate the sections explaining how they correspond to the mathematical ion channel models.

I pers

[2018-07-25 15:46] gsarma commented on #207
@pgleeson this is a great suggestion, thank you.  I'll play around with it, but will leave it open for a newcomer to tackle since it should be fairly approachable.

[2018-07-25 15:55] gsarma opened #208 "Use PyNML to create summaries of channel models"
See the examples given in muscle_model:
https://github.com/openworm/muscle_model/blob/master/NeuroML2/channel_summary/
which is generated by this script:
https://github.com/openworm/muscle_model/blob/master/NeuroML2/analyse_all.sh

Related issues: #199, #207

[2018-08-12 23:39] gsarma commented on #194
Since we are planning to transition away from Chopen, I'm going to close this for now.

[2018-08-12 23:39] #194 closed

[2018-08-12 23:40] gsarma commented on #189
@slarson I'm not sure I understand this issue- can you elaborate?

[2018-08-20 20:48] gsarma opened #210 "Verify correctness of data curated from Chopen"
We need to go through the spreadsheets in raw_data/ and confirm that it has been correctly curated from chopen.herokuapp.com.  This should not be difficult and will probably take 5-10 hours maximum.

openworm_scholar and ion_channel_basic_list will be straightforward.  The more involved task will be checking that each spreadsheet in detailed_channel_info is correct.  Things to look for include che

[2018-08-20 20:48] #189 closed

[2018-08-20 20:51] gsarma opened #211 "Summarize data in raw_data/detailed_channel_info"
We need informative tables of the curated data that we have.  Some useful things to know:

1) Distribution of species the data has been collected from
2) Which channels already appear in ChannelPedia
3) Which channels have plots that have already been digitized

Anything else that helps us have a better understanding of this data.

[2018-08-20 20:54] gsarma opened #212 "Retrieve plots and JSON files from Chopen"
The spread sheets in raw_data/detailed_channel_info have links to the figures and digitized plots stored in Chopen.  We should download all of these and store them in the ChannelWorm repo in raw form.

[2018-08-20 20:56] gsarma opened #213 "Clarify pipeline from ChannelWorm to c302"
We need to make explicit how c302 will access the ion channel models created in ChannelWorm.

@slarson @mwatts @rgerkin @pgleeson

[2018-08-20 21:01] gsarma opened #214 "Configure continuous integration for new repository structure"
CI isn't needed off the bat with the new repo structure because it is mostly raw data.  But we should think through what tests we will want as we fill out the gaps and add in more code.  We should configure CI again before too long to make sure that things don't get overlooked.

I suspect that most of the code will be for parameter extraction since we will likely house all of the channel metadata,

[2018-08-21 13:41] gsarma opened #220 "Curate information on ion channel expression"
raw_data/ion_channel_expression contains a preliminary spreadsheet indicating which ion channels are expressed in which neuron types.  This needs to be expanded.

[2018-08-21 15:22] gsarma opened #221 "Investigate NeuroTune/Inspyred or BluePyOpt for parameter fitting"
There are now well-implemented frameworks for ion channel modeling that we can likely use with some modification.  The primary packages to look into are [NeuroTune/Inspyred](https://neurotune.readthedocs.io/en/latest/) and [BluePyOpt/DEAP](https://www.frontiersin.org/articles/10.3389/fninf.2016.00017).

For a bare-bones implementation that may be useful as an introduction to using genetic algorith

[2018-08-21 19:44] gsarma opened #222 "Re-deploy Chopen from a new repo"
This is not a high priority, but worth discussing at some point.

The current repository structure was formulated around exporting all of the data from chopen.herokuapp.com so that it could be transitioned to publically available repositories which came into existence fairly recently.  However, Chopen represents a significant amount of work and the infrastructure there is useful.

If someone is in

[2018-08-21 21:36] gsarma commented on #211
See
https://github.com/openworm/ChannelWorm/blob/master/raw_data/summary_data.md
for an example

[2018-08-22 14:05] gsarma opened #223 "Update documentation to reflect new repository structure and goals"

[2018-08-27 14:15] #199 closed

[2018-08-27 14:15] #200 closed

[2018-08-27 14:15] #201 closed

[2018-08-27 14:15] #202 closed

[2018-08-27 14:15] #203 closed

[2018-08-27 14:15] #204 closed

[2018-08-27 14:15] #207 closed

[2018-08-27 14:15] #208 closed

[2018-08-27 14:15] #210 closed

[2018-08-27 14:15] #211 closed

[2018-08-27 14:15] #212 closed

[2018-08-27 14:15] #213 closed

[2018-08-27 14:15] #214 closed

[2018-08-27 14:15] #220 closed

[2018-08-27 14:15] #221 closed

[2018-08-27 14:15] #222 closed

[2018-08-27 14:15] #223 closed, assigned to nobody